<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>About Us</title>
    <link rel="website icon" type="png" href="images/maya.png">
    <link href="https://fonts.cdnfonts.com/css/caveat" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/7f01a542af.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="stylesheets/about.css">
</head>
<body style="background-image: url('images/standard-bg.png'); background-size: cover;background-repeat: no-repeat;">
  <div class="topnav">
    
    <a href="/index"><img src="images/logo.png" height="60px" width="60px"></a>
    <a href="/index"><img src="images/mayame.png" height="60px" width="190px"></a>

    <div class="menu">
    <a class="nav" href="/index">Home</a>
    <a class="nav" href="#news">News</a>
    <a class="nav" href="#contact">Contact</a>
    <a class="nav" href="/aboutUs">About</a>
    <a href="/login" class="nav" style="float:right; margin-right: 5%;">Login</a>
    <a class="nav" href="/login" style="font-size: 14px; cursor:pointer; float: right; margin:1% 15px 0 0;"><i class="fas fa-shopping-cart fa-2x"></i> </a>
  </div>
  <div class="menu-toggle">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  </div>
      
      <div style="background-color:rgba(255, 255, 255, 0.439); margin-top: 100px;">
        <div class="container py-5">
          <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
              <h1 class="lbl">Maya & Me Food Orders</h1>
              <p class="lead text-muted mb-0">Maya & Me Food Orders is a culinary venture that emerged during the 2020 pandemic, founded by Maya and a dedicated team. Born out of a passion for creating comforting and flavorful dishes, Maya & Me is committed to delivering a dining experience that goes beyond mere meals. The business values community, resilience, and supporting local producers. With a diverse menu inspired by Maya's cultural background, the venture invites customers to join a culinary journey that brings joy and connection through delicious food.</p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="images/logo.png" alt="" class="img-fluid"></div>
          </div>
        </div>
      </div>
      <div class="py-5" style="background-color:rgba(255, 255, 255, 0.439); margin:100px 0 100px 0;">
        <div class="container py-5">
          <div class="row mb-4">
            <div class="col-lg-5">
              <h2 class="lbl" style="font-size:85px ;">Our team</h2>
              <p class="font-italic text-muted">Meet Our Talented Team of Developers
                At the core of our innovative system is a team of dedicated and skilled developers who bring expertise, creativity, and passion to every line of code. Together, we form a dynamic group committed to pushing the boundaries of technology to deliver a robust user experience.</p>
            </div>
          </div>
      
          <div class="row text-center">
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="images/Dex.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Dexter A. Duclayan</h5><span class="small text-uppercase text-muted">Back-End Developer</span>
                <ul class="social mb-0 list-inline mt-3">
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- End-->
      
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="images/Bods.jpg" alt="" width="100" height="250px" class="img-fluid rounded-circle img-thumbnail shadow-sm" style="margin-bottom: 27px;">
                <h5 class="mb-0">John Risen U. Bodomo</h5><span class="small text-uppercase text-muted">Back-End Developer</span>
                <ul class="social mb-0 list-inline mt-3">
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- End-->
      
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="images/Jek.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" >
                <h5 class="mb-0">Jerico R. Mahinay</h5><span class="small text-uppercase text-muted">Front-End Developer</span>
                <ul class="social mb-0 list-inline mt-3">
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- End-->
      
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="images/Rmmr.jpg" alt="" width="100" class="img-fluid rounded-circle img-thumbnail shadow-sm" style="margin-bottom:14px;">
                <h5 class="mb-0">Rommar P. Bitoon</h5><span class="small text-uppercase text-muted">Documenter</span>
                <ul class="social mb-0 list-inline mt-3">
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- End-->
      
          </div>
        </div>
      </div>
      <div class="cntr">

        <footer class="text-white text-center text-lg-start" style="background-color: #C69B68;">
          <!-- Grid container -->
          <div class="p-5">
          
          <!--Grid row-->
          
          <div class="row mt-4">
            <div class="col-lg-1 col-md-6 mb-4 mb-md-0"></div>
            <!--Grid column-->
            <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">About company</h5>
        
            <label>
              Thank you for choosing Maya&Me Services for your food ordering needs. We're here to satisfy your cravings, one delicious meal at a time. Enjoy your meal and have a wonderful day!
            </label>
        
            <div class="mt-4">
              <!-- Facebook -->
              <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-facebook-f"></i></a>
              <!-- Dribbble -->
              <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-dribbble"></i></a>
              <!-- Twitter -->
              <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-twitter"></i></a>
              <!-- Google + -->
              <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-google-plus-g"></i></a>
              <!-- Linkedin -->
            </div>
            </div>
            <!--Grid column-->
        <div class="col-lg-1 col-md-6 mb-4 mb-md-0"></div>
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4 pb-1">Contact Us</h5>
        
            <ul class="fa-ul" style="margin-left: 1.65em;">
              <li class="mb-3">
              <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Brgy San Isidro Luisiana,Laguna</span>
              </li>
              <li class="mb-3">
              <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">mayaandme74@gmail.com</span>
              </li>
              <li class="mb-3">
              <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">09186506362</span>
              </li>
           
            </ul>
            </div>
            <!--Grid column-->
        
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">Opening hours</h5>
        
            <table class="table text-center text-white">
              <tbody class="font-weight-normal">
              <tr>
                <td>Mon - Thu:</td>
                <td>8am - 9pm</td>
              </tr>
              <tr>
                <td>Fri - Sat:</td>
                <td>8am - 1am</td>
              </tr>
              <tr>
                <td>Sunday:</td>
                <td>9am - 10pm</td>
              </tr>
              </tbody>
            </table>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
          </div>
          <!-- Grid container -->
        
          <!-- Copyright -->
          <div class="text-center p-3" style="font-weight: bold; background-color: #ffefe4; color: #C69B68;">
          © 2023 Copyright:
          <label >Maya&Me Services</label>
          </div>
          <!-- Copyright -->
        </footer>
        </div>
          <!-- End of .container -->
      <script src="scripts/menu.js"></script>
</body>
</html>