<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MyCart | Maya&Me </title>
<link rel="website icon" type="png" href="images/maya.png">
<link href="https://fonts.cdnfonts.com/css/caveat" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://kit.fontawesome.com/7f01a542af.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
<link rel="stylesheet" href="stylesheets/cart.css">
</head>
<body style="background-image: url('images/standard-bg.png'); background-size: cover;background-repeat: no-repeat;">
<div class="topnav">
  <a href="/UserDashboard"><img src="images/logo.png" height="60px" width="60px"></a>
  <a href="/UserDashboard"><img src="images/mayame.png" height="60px" width="190px"></a>
  <div class="menu">
    <a class="nav" href="/UserDashboard">Home</a>
    <a class="nav" href="/confirmoderinfo">Orders</a>
    <div class="nav" onclick="openProfileModal()" style="font-size: 22px; cursor:pointer; float: right; margin:1.3% 3% 0 0;color:#976b35;">
      <i class="fas fa-user-circle fa-2x"></i>
    </div>
    <!-- Profile Modal -->
    <div id="profileModal" class="pmod">
      <div class="modal-contents">
        <span class="close" onclick="closeProfileModal()">&times;</span>
        <a style="font-size: 20px;" class="prof" href="/profile">My Profile</a>
        <a style="font-size: 20px;" class="prof" href="/confirmoderinfo">Orders</a>
        <a style="font-size: 20px;" class="prof" href="/logout">Logout</a>
      </div>
    </div>
    <a class="nav" onclick="openCartModal()" style=" margin:0.8% 0 0 0; font-size: 19px; cursor:pointer;color:#976b35;float: right;"><i class="fas fa-shopping-cart fa-2x"></i><span id="cart-counter">0</span></a>
    <%- include('dietaryPreferences.ejs') %>
    <!-- <a class="nav" id="openDietaryModal" href="#">Dietary Preferences</a> -->
    <a class="nav" href="#" id="dietaryPreferencesNav" onclick="openDietaryModal()">Dietary Preferences</a>
  </div>
    <!-- Mobile Menu Toggle -->
    <div class="menu-toggle">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    </div>
    </div>
</div>
<div class="dashboard-banner">
    <img src="images/long.jpg" alt=""/>
    <div class="banner-promo">
        <span><img class="logo" src="images/maya.png" alt="" height="330px"></span>  
  </div>
  <div class="cont">
    <div class="log">
      <a class="fbtn" href="/userMenu">Food Menu</a>
      <a class="fbtn" href="/userTrays">Party Trays</a>
      <a class="fbtn" href="/userMeals">Solo Meals</a>
    </div>
    </div>
  </div>
  <div class="card"  id="cart-mod">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col"><h4><b>My Cart</b></h4></div>
                </div>
            </div>    
            <div class="row border-top border-bottom">
                <div>
                    <div class="col-2"><img class="img-fluid" src=""></div>
                    <div>
                      <div id="mod-cart-items"></div>
                    </div>
                </div>
            </div>
            <div class="back-to-shop"><a href="/userMenu"><i class="fas fa-arrow-left"></i>
            </a><span>Back to shop</span></div>
        </div>
        <div class="col-md-4 summary">
            <div><h5><b style="color: black;">Summary</b></h5></div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left: 0; font-weight:bold;color: black;">ITEMS <span id="item-counter">0</span></div>
            </div>
            <form action="" method="">
            <label class="frm" for="">Shipping Address</label>
                <input class="inpts" type="text" id="adrss" placeholder="Place Delivery Address">
            <label class="frm" for="">Contact Person</label>
                <input class="inpts" type="text" id="cntct" placeholder="Place Contact Person">
            <label class="frm" for="">Contact Number</label>
                <input class="inpts" type="tel" id="num" placeholder="Place Contact Number">
            <label class="frm" for="">Email</label>
                <input class="inpts" type="email" id="email" placeholder="Place Email">
          <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
              <div class="col" style="font-weight: bold; color: black;">TOTAL PRICE</div>
              <div style="color: black;" id="total-amount"></div>
              <div style="color: black;" id="total-amounthidden" hidden></div>
          </div>  
          <div style="color: rgb(255, 0, 0);font-weight: bold; ">**SHIPPING FEE IS FREE AROUND LUISIANA LAGUNA**</div>
            </form>
            <input type="submit" value="CHECKOUT" id="checkoutButton" class="btn"></input>
            <div id="payment-mod" class="modal-container">
              <div id="paypal-button"></div>
          </div>
        </div>
    </div>
</div>



<script   src="scripts/cart.js"></script>
<script src="scripts/index.js"></script>
<script src="https://www.paypal.com/sdk/js?client-id=AVu3WborcTvCGiCezIWmlpoZl8aV3sREwYVeBrZAWl8Dej6WlLIY9mnfD527IwI4a6UbEIvWhlV4p8_o&currency=PHP"></script>
<script  src="scripts/payment.js"></script>

</body>
</html>