<footer class="text-white text-center text-lg-start" style="background-color: #C69B68;">
    <!-- Grid container -->
    <div class="p-5">
        <!--Grid row-->
        <div class="row mt-4">
            <!--Grid column-->
            <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">About company</h5>
                <p>
                    Thank you for choosing Maya&Me Services for your food ordering needs. We're here to satisfy your cravings, one delicious meal at a time.
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4 pb-1">Contact Us</h5>
                <ul class="fa-ul" style="margin-left: 1.65em;">
                    <li class="mb-3"><span class="fa-li"><i class="fas fa-home"></i></span>Brgy San Isidro Luisiana, Laguna</li>
                    <li class="mb-3"><span class="fa-li"><i class="fas fa-envelope"></i></span>mayaandme74@gmail.com</li>
                    <li class="mb-3"><span class="fa-li"><i class="fas fa-phone"></i></span>09186506362</li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Opening hours</h5>
                <table class="table text-center text-white">
                    <tbody class="font-weight-normal">
                        <tr><td>Mon - Thu:</td><td>8am - 9pm</td></tr>
                        <tr style="background-color: rgba(0, 0, 0, 0.2);"><td>Fri - Sat:</td><td>8am - 1am</td></tr>
                        <tr><td>Sunday:</td><td>9am - 10pm</td></tr>
                    </tbody>
                </table>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="font-weight: bold; background-color: #ffefe4; color: #C69B68;">
        © 2023 Copyright: Maya&Me Services
    </div>
</footer>
