<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LOGS</title>
  <link rel="website icon" type="png" href="images/maya.png">
  <link href="https://fonts.cdnfonts.com/css/caveat" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/kreon" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://kit.fontawesome.com/7f01a542af.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="stylesheets/admin.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <div class="container">
    <div class="sidenav">
      <a href="/adminDashboard">Dashboard</a>
      <a href="/adminUserTable">User Table</a>
      <a href="/logs">Logs</a>
      <a href="/logout">Logout</a>
    </div>
    <h1 style="font-family: kreon,open-sans;font-weight: bold;font-size: 50px;color: black;">Logs</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Action</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% logs.forEach(log => { %>
          <tr>
            <td><%= log.timestamp %></td>
            <td><%= log.action %></td>
            <td><%= log.email %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

  <!-- Add Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>