<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link href="https://fonts.cdnfonts.com/css/caveat" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/7f01a542af.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="stylesheets/menu.css">
    <title>Solo Meals</title>
</head>
<body style="background-image: url('images/standard-bg.png'); background-size: cover;background-repeat: no-repeat;">
    <div class="topnav">
        <a href="/UserDashBoard"><img src="images/logo.png" height="60px" width="60px"></a>
        <a href="/UserDashBoard"><img src="images/mayame.png" height="60px" width="190px"></a>
  
        <div class="menu">
            <a class="nav" href="/UserDashboard">Home</a>
            <a class="nav" href="/confirmoderinfo">Orders</a>
            <a href="/logout" class="nav" style="float:right;">Logout</a>
            <a class="nav" onclick="openCartModal()"
            style="font-size: 14px; cursor:pointer; float: right; margin:1% 15px 0 0;color: #C69B68;"><i
            class="fas fa-shopping-cart fa-2x"></i></a>     
            <%- include('dietaryPreferences.ejs') %>
            <!-- <a class="nav" id="openDietaryModal" href="#">Dietary Preferences</a> -->
            <a class="nav" href="#" id="dietaryPreferencesNav" onclick="openDietaryModal()">Dietary Preferences</a>
          </div>
      <div class="menu-toggle">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
      <div class="dashboard">
        <div class="dashboard-banner">
          <img src="images/long.jpg" alt=""/>
          <div class="banner-promo">
              <span><img class="logo" src="images/maya.png" alt="" height="330px"></span>  
        </div>
        <div class="cont">
          <div class="log">
            <a class="fbtn" href="/userMenu">Food Menu</a>
            <a class="fbtn" href="/userTrays">Party Trays</a>
            <a class="fbtn active" href="/userMeals">Solo Meals</a>
          </div>
          </div>
        </div>
        </div>
        <div class="dashboard-content" id="container">
          <div class="dashboard-card">
            <img class="card-image" src="images/bac.jpg" alt="" />
            <div class="card-detail">
                <h4>Bacon (Rice Meal)</h4>
                <div class="rat">
                  <p>Rating:</p>
                  <div class="star-rating" id="starmls">
                    <!-- Star icons will be added here using JavaScript -->
                  </div>
                </div>
                <p class="card-time">
                    <span class="fas fa-clock"></span>15-30 mins
                </p>
                <button class="cbtn">Order</button>
                <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
          </div>
          </div>
          <div class="dashboard-card">
            <img class="card-image" src="images/tap.jpg" alt="" />
            <div class="card-detail">
                <h4>Beef Tapa (Rice Meal)</h4>
                <div class="rat">
                  <p>Rating:</p>
                  <div class="star-rating" id="starmls1">
                    <!-- Star icons will be added here using JavaScript -->
                  </div>
                </div>
                <p class="card-time">
                    <span class="fas fa-clock"></span>15-30 mins
                </p>
                <button class="cbtn">Order</button>
                <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
          </div>
          </div>
          <div class="dashboard-card">
            <img class="card-image" src="images/cr.jpg" alt="" />
            <div class="card-detail">
            <h4>Chicken Roll (Rice Meal)</h4>
            <div class="rat">
              <p>Rating:</p>
              <div class="star-rating" id="starmls2">
                <!-- Star icons will be added here using JavaScript -->
              </div>
            </div>
            <p class="card-time">
              <span class="fas fa-clock"></span>15-30 mins
            </p>
            <button class="cbtn">Order</button>
            <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
            </div>
            </div>
            <div class="dashboard-card">
              <img class="card-image" src="images/hs.jpg" alt="" />
              <div class="card-detail">
              <h4>Hungarian Sausage (Rice Meal)</h4>
              <div class="rat">
                <p>Rating:</p>
                <div class="star-rating" id="starmls3">
                  <!-- Star icons will be added here using JavaScript -->
                </div>
              </div>
              <p class="card-time">
                <span class="fas fa-clock"></span>15-30 mins
              </p>
              <button class="cbtn">Order</button>
              <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
            </div>
              </div>
              <div class="dashboard-card">
                <img class="card-image" src="images/ls.jpg" alt="" />
                <div class="card-detail">
                <h4>Lumpiang Shanghai (Rice Meal)</h4>
                <div class="rat">
                  <p>Rating:</p>
                  <div class="star-rating" id="starmls4">
                    <!-- Star icons will be added here using JavaScript -->
                  </div>
                </div>
                <p class="card-time">
                  <span class="fas fa-clock"></span>15-30 mins
                </p>
                  <button class="cbtn" onclick="Login()">Order</button>
        <button class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>          </div>
                </div>
                <div id="cart-modal" class="modal">
                    <div class="modal-content">
                    <span class="close" onclick="closeCartModal()">&times;</span>
                    <h2>Cart</h2>
                    <ul id="modal-cart-items"></ul>
                    <div class="total-amount">Total: Php <span id="total-amount">0</span></div>
                    <button onclick="placeOrder()">Place Order</button>
                    </div>  
                </div>
                
        </div>
    
<script src="scripts/menu.js"></script>
</body>
<div class="cntr">
  <footer class="text-white text-center text-lg-start" style="background-color: #C69B68;">
    <!-- Grid container -->
    <div class="p-5">
    
    <!--Grid row-->
    
    <div class="row mt-4">
      <div class="col-lg-1 col-md-6 mb-4 mb-md-0"></div>
      <!--Grid column-->
      <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
      <h5 class="text-uppercase mb-4">About company</h5>
  
      <label>
        Thank you for choosing Maya&Me Services for your food ordering needs. We're here to satisfy your cravings, one delicious meal at a time. Enjoy your meal and have a wonderful day!
      </label>
  
      <div class="mt-4">
        <!-- Facebook -->
        <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-facebook-f"></i></a>
        <!-- Dribbble -->
        <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-dribbble"></i></a>
        <!-- Twitter -->
        <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-twitter"></i></a>
        <!-- Google + -->
        <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-google-plus-g"></i></a>
        <!-- Linkedin -->
      </div>
      </div>
      <!--Grid column-->
  <div class="col-lg-1 col-md-6 mb-4 mb-md-0"></div>
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
      <h5 class="text-uppercase mb-4 pb-1">Contact Us</h5>
  
      <ul class="fa-ul" style="margin-left: 1.65em;">
        <li class="mb-3">
        <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Brgy San Isidro Luisiana,Laguna</span>
        </li>
        <li class="mb-3">
        <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">mayaandme74@gmail.com</span>
        </li>
        <li class="mb-3">
        <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">09186506362</span>
        </li>
     
      </ul>
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
      <h5 class="text-uppercase mb-4">Opening hours</h5>
  
      <table class="table text-center text-white">
        <tbody class="font-weight-normal">
        <tr>
          <td>Mon - Thu:</td>
          <td>8am - 9pm</td>
        </tr>
        <tr>
          <td>Fri - Sat:</td>
          <td>8am - 1am</td>
        </tr>
        <tr>
          <td>Sunday:</td>
          <td>9am - 10pm</td>
        </tr>
        </tbody>
      </table>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="font-weight: bold; background-color: #ffefe4; color: #C69B68;">
    © 2023 Copyright:
    <label >Maya&Me Services</label>
    </div>
    <!-- Copyright -->
  </footer>
  </div>
</html>