<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home | Maya&Me</title>
<link rel="website icon" type="png" href="images/maya.png">
<link href="https://fonts.cdnfonts.com/css/caveat" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://kit.fontawesome.com/7f01a542af.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
<link rel="stylesheet" href="stylesheets/user.css">
<link rel="stylesheet" href="stylesheets/index.css">
</head>

<body style="background-image: url('images/standard-bg.png'); background-size: cover;background-repeat: no-repeat;">

  <div class="topnav">
    <div class="menu-toggle">
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
      </div>
    <a href="/UserDashboard"><img src="images/logo.png" height="60px" width="60px"></a>
    <a href="/UserDashboard"><img src="images/mayame.png" height="60px" width="190px"></a>
    <div class="menu">
      <a class="nav" href="/UserDashboard">Home</a>
      <!-- The button or icon for opening the profile modal -->
      <div class="nav" onclick="openProfileModal()" style="font-size: 22px; cursor:pointer; float: right; margin:1.3% 3% 0 0;color:#976b35;">
        <i class="fas fa-user-circle fa-2x"></i>
      </div>
      <!-- Profile Modal -->
      <div id="profileModal" class="pmod">
        <div class="modal-contents">
          <span class="close" onclick="closeProfileModal()">&times;</span>
          <a  class="prof" href="/profile">My Profile</a>
          <a  class="prof" href="/recommendations">Recommended</a>
          <a  class="prof" href="/logout">Logout</a>
        </div>
      </div>
  
      <a class="nav" onclick="openCartModal()" style="margin: 0.8% 0 0 0;font-size: 19px;cursor: pointer;color: #976b35;float: right;"><i class="fas fa-shopping-cart fa-2x"></i><span id="cart-counter">0</span>
      </a>     
     <%- include('dietaryPreferences.ejs') %>
      <a class="nav" href="#" id="dietaryPreferencesNav" onclick="openDietaryModal()">Dietary Preferences</a>
      <a class="nav" href="/recommendations">Recommended</a>
      <a class="nav" href="/contact">Contact Us</a>
      <a class="nav" href="/about">About Us</a>
      <span class="nav welcome-message" style="font-size: 24px; cursor:pointer; float: right; margin:1.4% 0 0 0;color:#976b35;"><%= welcomeMessage %></span>
    </div>
    <div class="side-menu">
      <a style="color: black;" href="/UserDashboard">Home</a>
      <a style="color: black;" href="/confirmorderinfo">Orders</a>
      <a style="color: black;" href="#" id="dietaryPreferencesNav" onclick="openDietaryModal()">Dietary</a>
      <a style="color: black;" href="#">Contact Us</a>
      <a style="color: black;" href="/about">About Us</a>
      <a style="color: black;"class="nav" onclick="openCartModal()">My Cart</i></a>
      <a style="color: black;" href="/profile">My Profile</a>
      <a style="color: black;" href="/logout">Logout</a>
    </div>
  </div>
  <!-- Add your JavaScript for modal and other script tags at the end of the body or in external JS files -->
  


<!-- Mobile Menu Toggle -->

</div>
<div class="jumbotron">
  <div class="slideshow-container">

    <!-- Slides will be added here dynamically -->
  </div>
</div>
<img class="ban" src="images/nav-bg.png" alt="">
<div class="cont">
<div class="log">
<img class="logo" src="images/logo.png" alt="">
<a class="fbtns" href="/userMenu">Food Menu</a>
<a class="fbtns" href="/userTrays">Party Trays</a>
<a class="fbtns" href="/userMeals">Solo Meals</a>
</div>
</div>
<img class="ban"  src="images/nav-bg-footer.png" alt="">

<!-- Features Section -->
<div class="container">
<div class="lbls">
<label class="fpu" for="">Featured Products</label>
</div>
<!-- End Jumbotron -->
<section class="feature-food">
  <div class="dashboard-content">
    <div class="cards" id="chkr">
      <img class="card-image" src="images/f1.jpg" alt="" />
      <div class="card-detail">
        <h4>Chicken Roll (Tray)</h4>
        <p> Delectable and savory dish that combines the flavors of tender chicken, smoky ham, and creamy cheese into a mouthwatering culinary masterpiece. </p>
        <div class="gallerys" style="margin-top: 11%">
          <label>
            <img src="images/sTray.png" alt="Image 1" /><br />
            <input type="radio" name="size" value="(10 to 12 pax)-400" />
            S (₱400) (10-12 pax)
          </label>
          <label>
            <img src="images/mTray.png" alt="Image 2" /><br />
            <input type="radio" name="size" value="(25 to 30 pax)1000" />
            M (₱1,000) (25-30 pax)
          </label>
          <label>
            <img src="images/lTray.png" alt="Image 3" /><br />
            <input type="radio" name="size" value="(45 to 50 pax)-1500" />
            L (₱1,500) (45-50 pax)
          </label>
        </div>
        <!-- Lightbox (hidden by default) -->
        <div class="lightbox" id="lightbox">
          <img src="" alt="Enlarged Image" class="lightbox-image" />
        </div>
        <div class="rat">
          <p>Rating:</p>
          <div class="star-rating" id="star-rating">
            <!-- Star icons will be added here using JavaScript -->
          </div>
        </div>
        <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
        <button class="cbtn">Order</button>
        <button onclick="addToCart('Chicken Roll','chkr')" class="cbtn">
          <i class="fas fa-shopping-cart"></i>
        </button>
      </div>
    </div>
    <div class="cards" id="fff">
      <img class="card-image" src="images/f5.jpg" alt="" />
      <div class="card-detail">
        <h4>Fried Fish Filet (Tray)</h4>
        <p>Our "Fried Fish Filet" is a culinary masterpiece. Each fillet is meticulously seasoned with a blend of aromatic herbs and spices, ensuring a burst of taste with every bite.</p>
        <div class="gallerys" style="margin-top: 11%">
          <label>
            <img src="images/sTray.png" alt="Image 1" /><br />
            <input type="radio" name="size" value="(10 to 12 pax)-300" />
            S (₱300) (10-12 pax)
          </label>
          <label>
            <img src="images/mTray.png" alt="Image 2" /><br />
            <input type="radio" name="size" value="(25  to 30 pax)-900" />
            M (₱900) (25-30 pax)
          </label>
          <label>
            <img src="images/lTray.png" alt="Image 3" /><br />
            <input type="radio" name="size" value="(45 to 50 pax)-1400" />
            L (₱1,400) (45-50 pax)
          </label>
        </div>
        <!-- Lightbox (hidden by default) -->
        <div class="lightbox" id="lightbox">
          <img src="" alt="Enlarged Image" class="lightbox-image" />
        </div>
        <div class="rat">
          <p>Rating:</p>
          <div class="star-rating" id="star-rating2">
            <!-- Star icons will be added here using JavaScript -->
          </div>
        </div>
        <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
        <button class="cbtn">Order</button>
        <button onclick="addToCart('Fried Fish Fillet','fff')" class="cbtn">
          <i class="fas fa-shopping-cart"></i>
        </button>
      </div>
    </div>
    <div class="cards" id="ssg">
      <img class="card-image" src="images/sisig.jpg" alt="" />
      <div class="card-detail">
        <h4>Sisig (Tray)</h4>
        <p>Savor the sizzle, indulge in the flavor. Our sisig is not just a dish; it's a culinary masterpiece that elevates your taste buds to new heights.</p>
        <div class="gallerys" style="margin-top: 11%">
          <label>
            <img src="images/sTray.png" alt="Image 1" /><br />
            <input type="radio" name="size" value="(10 to 12 pax)-600" />
            S (₱600) (10-12 pax)
          </label>
          <label>
            <img src="images/mTray.png" alt="Image 2" /><br />
            <input type="radio" name="size" value="(25 to 30 pax)-1450" />
            M (₱1,450) (25-30 pax)
          </label>
          <label>
            <img src="images/lTray.png" alt="Image 3" /><br />
            <input type="radio" name="size" value="(45 to 50 pax)-2800" />
            L (₱2,800) (45-50 pax)
          </label>
        </div>
        <!-- Lightbox (hidden by default) -->
        <div class="lightbox" id="lightbox">
          <img src="" alt="Enlarged Image" class="lightbox-image" />
        </div>
        <div class="rat">
          <p>Rating:</p>
          <div class="star-rating" id="star-rating3">
            <!-- Star icons will be added here using JavaScript -->
          </div>
        </div>
        <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
        <button class="cbtn">Order</button>
        <button onclick="addToCart('Sisig','ssg')" class="cbtn">
          <i class="fas fa-shopping-cart"></i>
        </button>
      </div>
    </div>
  </div>
</section>
</div>
<div id="cart-mod" class="mod">
  <div class="mod-cont">
  <span class="clse" onclick="closeCartModal()">&times;</span>
  <h2 class="crt">My Cart</h2>
  <ul id="mod-cart-items"></ul>
  <div class="total-amount"><span id="total-amount">0</span></div>
  <div class="plc"><button onclick="placeOrder()">Place Order</button></div>
  </div>  
  </div>
  <div class="cntr">
<div class="lbls" style="margin:3% 0 0 1%;">
<label class="fpu" for="">Menu and Prices</label>
</div>
<div>
<div class="gallery">
<img src="images/m1.jpg" alt="Image 1">
<img src="images/m4.jpg" alt="Image 1">
<img src="images/m2.jpg" alt="Image 1">
<img src="images/m5.jpg" alt="Image 1">
<img src="images/m3.jpg" alt="Image 1">
<!-- Add more images as needed -->
</div>

<!-- Lightbox (hidden by default) -->
<div class="lightbox" id="lightbox">
  <img src="" alt="Enlarged Image" class="lightbox-image">
</div>
</div>
</div>
<div class="container">
<div class="lbls" style="margin-top: 5%;">
  <label class="fpu" for="">Store Location</label>
 </div>
<div class="card-maps">   
    <div>
      <img class="map-img"  src="images/mam.png" alt="">
    </div>
      <div>
          <iframe class="gmap" src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d15473.095439622592!2d121.50914925672969!3d14.178731599845047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTTCsDEwJzU1LjkiTiAxMjHCsDMwJzM2LjAiRQ!5e0!3m2!1sen!2sus!4v1701578225488!5m2!1sen!2sus" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
       </div>
</div>
</div>
<div class="cntr">

<footer class="text-white text-center text-lg-start" style="background-color: #C69B68;">
  <!-- Grid container -->
  <div class="p-5">
  
  <!--Grid row-->
  
  <div class="row mt-4">
    <div class="col-lg-1 col-md-6 mb-4 mb-md-0"></div>
    <!--Grid column-->
    <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
    <h5 class="text-uppercase mb-4">About company</h5>

    <label style="color: white;">
      Thank you for choosing Maya&Me Services for your food ordering needs. We're here to satisfy your cravings, one delicious meal at a time. Enjoy your meal and have a wonderful day!
    </label>

    <div class="mt-4">
      <!-- Facebook -->
      <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-facebook-f"></i></a>
      <!-- Dribbble -->
      <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-dribbble"></i></a>
      <!-- Twitter -->
      <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-twitter"></i></a>
      <!-- Google + -->
      <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-google-plus-g"></i></a>
      <!-- Linkedin -->
    </div>
    </div>
    <!--Grid column-->
<div class="col-lg-1 col-md-6 mb-4 mb-md-0"></div>
    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
    <h5 class="text-uppercase mb-4 pb-1">Contact Us</h5>

    <ul class="fa-ul" style="margin-left: 1.65em;">
      <li class="mb-3">
      <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Brgy San Isidro Luisiana,Laguna</span>
      </li>
      <li class="mb-3">
      <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">mayaandme74@gmail.com</span>
      </li>
      <li class="mb-3">
      <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">09186506362</span>
      </li>
   
    </ul>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
    <h5 class="text-uppercase mb-4">Opening hours</h5>

    <table class="table text-center text-white">
      <tbody class="font-weight-normal">
      <tr>
        <td>Mon - Thu:</td>
        <td>8am - 9pm</td>
      </tr>
      <tr style="background-color: #C69B68;">
        <td>Fri - Sat:</td>
        <td>8am - 1am</td>
      </tr>
      <tr>
        <td>Sunday:</td>
        <td>9am - 10pm</td>
      </tr>
      </tbody>
    </table>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="font-weight: bold; background-color: #ffefe4; color: #C69B68;">
  © 2023 Copyright:
  <label style="color: #C69B68;">Maya&Me Services</label>
  </div>
  <!-- Copyright -->
</footer>
</div>
<script src="scripts/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  
</body>
</html>
