<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="website icon" type="png" href="images/maya.png" />
    <link href="https://fonts.cdnfonts.com/css/caveat" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Rubik:400,700"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://kit.fontawesome.com/7f01a542af.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="stylesheets/menu.css" />

    <title>User Trays</title>
  </head>
  <body
    style="
      background-image: url('images/standard-bg.png');
      background-size: cover;
      background-repeat: no-repeat;
    "
  >
    <div class="topnav">
      <a href="/UserDashBoard"
        ><img src="images/logo.png" height="60px" width="60px"
      /></a>
      <a href="/UserDashBoard"
        ><img src="images/mayame.png" height="60px" width="190px"
      /></a>

      <div class="menu">
        <a class="nav" href="/UserDashboard">Home</a>
        <a class="nav" href="/confirmoderinfo">Orders</a>
        <div class="nav" onclick="openProfileModal()" style="font-size: 22px;cursor: pointer;float: right;margin: 1.3% 3% 0 0;color: #976b35;"> <i class="fas fa-user-circle fa-2x"></i>
        </div>
          <!-- Profile Modal -->
          <div id="profileModal" class="pmod">
            <div class="modal-contents">
              <span class="close" onclick="closeProfileModal()">&times;</span>
              <a style="font-size: 20px" class="prof" href="/profile">My Profile</a>
              <a style="font-size: 20px" class="prof" href="/confirmoderinfo">Orders</a>
              <a style="font-size: 20px" class="prof" href="/logout">Logout</a>
            </div>
          </div>
          <a class="nav" onclick="openCartModal()" style="margin: 0.8% 0 0 0;font-size: 19px;cursor: pointer;color: #976b35;float: right;"><i class="fas fa-shopping-cart fa-2x"></i><span id="cart-counter">0</span>
          </a>
        <%- include('dietaryPreferences.ejs') %>
        <!-- <a class="nav" id="openDietaryModal" href="#">Dietary Preferences</a> -->
        <a
          class="nav"
          href="#"
          id="dietaryPreferencesNav"
          onclick="openDietaryModal()"
          >Dietary Preferences</a
        >
      </div>
      <div class="menu-toggle">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
    <div class="dashboard">
      <div class="dashboard-banner">
        <img src="images/long.jpg" alt="" />
        <div class="banner-promo">
          <span
            ><img class="logo" src="images/maya.png" alt="" height="330px"
          /></span>
        </div>
        <div class="cont">
          <div class="log">
            <a class="fbtn" href="/userMenu">Food Menu</a>
            <a class="fbtn active" href="/userTrays">Party Trays</a>
            <a class="fbtn" href="/userMeals">Solo Meals</a>
            <a class="fbtn" href="/recommendations">Recommend for You</a>
          </div>
        </div>
      </div>
    </div>
    <div class="dashboard-content" id="container">
      <div class="cards" id="afrtd">
        <img class="card-image" src="images/afritada.jpg" alt="" />
        <div class="card-detail">
          <h4>Afritada (Tray)</h4>
          <div class="gallery" style="margin-top: 11%">
            <label>
              <img src="images/sTray.png" alt="Image 1" /><br />
              <input type="radio" name="size" value="Small(10 to 12 pax)-570" />
              S (₱570) (10-12 pax)
            </label>
            <label>
              <img src="images/mTray.png" alt="Image 2" /><br />
              <input
                type="radio"
                name="size"
                value="Medium(25 to 30 pax)-1350"
              />
              M (₱1,350) (25-30 pax)
            </label>
            <label>
              <img src="images/lTray.png" alt="Image 3" /><br />
              <input
                type="radio"
                name="size"
                value="Large(45 to 50 pax)-2600"
              />
              L (₱2,600) (45-50 pax)
            </label>
          </div>
          <!-- Lightbox (hidden by default) -->
          <div class="lightbox" id="lightbox">
            <img src="" alt="Enlarged Image" class="lightbox-image" />
          </div>
          <div class="rat">
            <p>Rating:</p>
            <div class="star-rating" id="star">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button onclick="addToCart('Afritada','afrtd')" class="cbtn">
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" id="bcdp">
        <img class="card-image" src="images/bcd.jpg" alt="" />
        <div class="card-detail">
          <h4>Baked Cream Dory w/ Potatoes (Tray)</h4>
          <div class="gallery">
            <label>
              <img src="images/sTray.png" alt="Image 1" /><br />
              <input type="radio" name="size" value="Small(10 to 12 pax)-350" />
              S (₱350) (10-12 pax)
            </label>
            <label>
              <img src="images/mTray.png" alt="Image 2" /><br />
              <input
                type="radio"
                name="size"
                value="Medium(10 to 12 pax)-950"
              />
              M (₱950) (25-30 pax)
            </label>
            <label>
              <img src="images/lTray.png" alt="Image 3" /><br />
              <input
                type="radio"
                name="size"
                value="Large(45 to 50 pax)-1500"
              />
              L (₱1,500) (45-50 pax)
            </label>
          </div>
          <!-- Lightbox (hidden by default) -->
          <div class="lightbox" id="lightbox">
            <img src="" alt="Enlarged Image" class="lightbox-image" />
          </div>
          <div class="rat">
            <p>Rating:</p>
            <div class="star-rating" id="star1">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button onclick="addToCart('Baked Cream Dory','bcdp')" class="cbtn">
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" id="bc">
        <img class="card-image" src="images/caldereta.jpg" alt="" />
        <div class="card-detail">
          <h4>Beef Caldereta (Tray)</h4>
          <div class="gallery" style="margin-top: 11%">
            <label>
              <img src="images/sTray.png" alt="Image 1" /><br />
              <input type="radio" name="size" value="Small(10 to 12 pax)-700" />
              S (₱700) (10-12 pax)
            </label>
            <label>
              <img src="images/mTray.png" alt="Image 2" /><br />
              <input
                type="radio"
                name="size"
                value="Medium(25 to 30 pax)-1800"
              />
              M (₱1,800) (25-30 pax)
            </label>
            <label>
              <img src="images/lTray.png" alt="Image 3" /><br />
              <input
                type="radio"
                name="size"
                value="Large(45 to 50 pax)-3500"
              />
              L (₱3,500) (45-50 pax)
            </label>
          </div>
          <!-- Lightbox (hidden by default) -->
          <div class="lightbox" id="lightbox">
            <img src="" alt="Enlarged Image" class="lightbox-image" />
          </div>
          <div class="rat">
            <p>Rating:</p>
            <div class="star-rating" id="star2">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button onclick="addToCart('Beef Caldereta','bc')" class="cbtn">
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" id="bm">
        <img class="card-image" src="images/bm.jpg" alt="" />
        <div class="card-detail">
          <h4>Beef Mechado (Tray)</h4>
          <div class="gallery" style="margin-top: 11%">
            <label>
              <img src="images/sTray.png" alt="Image 1" /><br />
              <input type="radio" name="size" value="Small(10 to 12 pax)-700" />
              S (₱700) (10-12 pax)
            </label>
            <label>
              <img src="images/mTray.png" alt="Image 2" /><br />
              <input
                type="radio"
                name="size"
                value="Medium(25 to 30 pax)-1800"
              />
              M (₱1,800) (25-30 pax)
            </label>
            <label>
              <img src="images/lTray.png" alt="Image 3" /><br />
              <input
                type="radio"
                name="size"
                value="Large(45 to 50 pax)-3500"
              />
              L (₱3,500) (45-50 pax)
            </label>
          </div>
          <!-- Lightbox (hidden by default) -->
          <div class="lightbox" id="lightbox">
            <img src="" alt="Enlarged Image" class="lightbox-image" />
          </div>
          <div class="rat">
            <p>Rating:</p>
            <div class="star-rating" id="star3">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button onclick="addToCart('Beef Mechado','bm')" class="cbtn">
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" id="bwb">
        <img class="card-image" src="images/bwb.jpg" alt="" />
        <div class="card-detail">
          <h4>Beef w/ Broccoli (Tray)</h4>
          <div class="gallery" style="margin-top: 11%">
            <label>
              <img src="images/sTray.png" alt="Image 1" /><br />
              <input type="radio" name="size" value="Small(10 to 12 pax)-750" />
              S (₱750) (10-12 pax)
            </label>
            <label>
              <img src="images/mTray.png" alt="Image 2" /><br />
              <input
                type="radio"
                name="size"
                value="Medium(25 to 30 pax)-1800"
              />
              M (₱1,800) (25-30 pax)
            </label>
            <label>
              <img src="images/lTray.png" alt="Image 3" /><br />
              <input
                type="radio"
                name="size"
                value="Large(45 to 50 pax)-3500"
              />
              L (₱3,500) (45-50 pax)
            </label>
          </div>
          <!-- Lightbox (hidden by default) -->
          <div class="lightbox" id="lightbox">
            <img src="" alt="Enlarged Image" class="lightbox-image" />
          </div>
          <div class="rat">
            <p>Rating:</p>
            <div class="star-rating" id="star4">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button onclick="addToCart('Beef w/ Broccoli','bwb')" class="cbtn">
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" id="bs">
        <img class="card-image" src="images/bs.jpg" alt="" />
        <div class="card-detail">
          <h4>Beef Salpicao (Tray)</h4>
          <div class="gallery" style="margin-top: 11%">
            <label>
              <img src="images/sTray.png" alt="Image 1" /><br />
              <input type="radio" name="size" value="Small(10 to 12 pax)-750" />
              S (₱750) (10-12 pax)
            </label>
            <label>
              <img src="images/mTray.png" alt="Image 2" /><br />
              <input
                type="radio"
                name="size"
                value="Medium(25 to 30 pax)-1850"
              />
              M (₱1,850) (25-30 pax)
            </label>
            <label>
              <img src="images/lTray.png" alt="Image 3" /><br />
              <input
                type="radio"
                name="size"
                value="Large(45 to 50 pax)-3650"
              />
              L (₱3,650) (45-50 pax)
            </label>
          </div>
          <!-- Lightbox (hidden by default) -->
          <div class="lightbox" id="lightbox">
            <img src="" alt="Enlarged Image" class="lightbox-image" />
          </div>
          <div class="rat">
            <p>Rating:</p>
            <div class="star-rating" id="starbs">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button onclick="addToCart('Beef Salpicao','bs')" class="cbtn">
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" id="bcc">
        <img class="card-image" src="images/bcc.jpg" alt="" />
        <div class="card-detail">
          <h4>Buttered Carrots w/ Chicharo (Tray)</h4>
          <div class="gallery">
            <label>
              <img src="images/sTray.png" alt="Image 1" /><br />
              <input type="radio" name="size" value="Small(10 to 12 pax)-420" />
              S (₱420) (10-12 pax)
            </label>
            <label>
              <img src="images/mTray.png" alt="Image 2" /><br />
              <input
                type="radio"
                name="size"
                value="Medium(25 to 30 pax)-1000"
              />
              M (₱1,000) (25-30 pax)
            </label>
            <label>
              <img src="images/lTray.png" alt="Image 3" /><br />
              <input
                type="radio"
                name="size"
                value="Large(45 to 50 pax)-1850"
              />
              L (₱1,850) (45-50 pax)
            </label>
          </div>
          <!-- Lightbox (hidden by default) -->
          <div class="lightbox" id="lightbox">
            <img src="" alt="Enlarged Image" class="lightbox-image" />
          </div>
          <div class="rat">
            <p>Rating:</p>
            <div class="star-rating" id="star5">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button onclick="addToCart('Buttered Carrots','bcc')" class="cbtn">
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" id="bpm">
        <img class="card-image" src="images/bpm.jpg" alt="" />
        <div class="card-detail">
          <h4>Buttered Potato Marbles (Tray)</h4>
          <div class="gallery" style="margin-top: 11%">
            <label>
              <img src="images/sTray.png" alt="Image 1" /><br />
              <input type="radio" name="size" value="Small(10 to 12 pax)-450" />
              S (₱450) (10-12 pax)
            </label>
            <label>
              <img src="images/mTray.png" alt="Image 2" /><br />
              <input
                type="radio"
                name="size"
                value="Medium(25 to 30 pax)-950"
              />
              M (₱950) (25-30 pax)
            </label>
            <label>
              <img src="images/lTray.png" alt="Image 3" /><br />
              <input
                type="radio"
                name="size"
                value="Large(45 to 50 pax)-1950"
              />
              L (₱1,950) (45-50 pax)
            </label>
          </div>
          <!-- Lightbox (hidden by default) -->
          <div class="lightbox" id="lightbox">
            <img src="" alt="Enlarged Image" class="lightbox-image" />
          </div>
          <div class="rat">
            <p>Rating:</p>
            <div class="star-rating" id="star6">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button
            onclick="addToCart('Buttered Potato Marbles','bpm')"
            class="cbtn"
          >
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" id="cldrt">
        <img class="card-image" src="images/pc.jpg" alt="" />
        <div class="card-detail">
          <h4>Caldereta (Tray)</h4>
          <div class="gallery">
            <label>
              <img src="images/sTray.png" alt="Image 1" /><br />
              <input type="radio" name="size" value="Small(10 to 12 pax)-570" />
              S (₱570) (10-12 pax)
            </label>
            <label>
              <img src="images/mTray.png" alt="Image 2" /><br />
              <input
                type="radio"
                name="size"
                value="Medium(25 to 30 pax)-1350"
              />
              M (₱1,350) (25-30 pax)
            </label>
            <label>
              <img src="images/lTray.png" alt="Image 3" /><br />
              <input
                type="radio"
                name="size"
                value="Large(45 to 50 pax)-2600"
              />
              L (₱2,600) (45-50 pax)
            </label>
          </div>
          <!-- Lightbox (hidden by default) -->
          <div class="lightbox" id="lightbox">
            <img src="" alt="Enlarged Image" class="lightbox-image" />
          </div>
          <div class="rat">
            <p>Rating:</p>
            <div class="star-rating" id="starc">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button onclick="addToCart('Caldereta','cldrt')" class="cbtn">
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" id="cak">
        <img class="card-image" src="images/cak.jpg" alt="" />
        <div class="card-detail">
          <h4>Chicken Ala King (Tray)</h4>
          <div class="gallery">
            <label>
              <img src="images/sTray.png" alt="Image 1" /><br />
              <input type="radio" name="size" value="Small(10 to 12 pax)-500" />
              S (₱500) (10-12 pax)
            </label>
            <label>
              <img src="images/mTray.png" alt="Image 2" /><br />
              <input
                type="radio"
                name="size"
                value="Medium(25 to 30 pax)-1200"
              />
              M (₱1,200) (25-30 pax)
            </label>
            <label>
              <img src="images/lTray.png" alt="Image 3" /><br />
              <input
                type="radio"
                name="size"
                value="Large(45 to 50 pax)-2350"
              />
              L (₱2,350) (45-50 pax)
            </label>
          </div>
          <!-- Lightbox (hidden by default) -->
          <div class="lightbox" id="lightbox">
            <img src="" alt="Enlarged Image" class="lightbox-image" />
          </div>
          <div class="rat">
            <p>Rating:</p>
            <div class="star-rating" id="star7">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button onclick="addToCart('Chicken Ala King','cak')" class="cbtn">
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" id="ce">
        <img class="card-image" src="images/ce.jpg" alt="" />
        <div class="card-detail">
          <h4>Chicken Embotido (Tray)</h4>
          <div class="gallery">
            <label>
              <img src="images/sTray.png" alt="Image 1" /><br />
              <input type="radio" name="size" value="Small(10 to 12 pax)-340" />
              S (₱340) (10-12 pax)
            </label>
            <label>
              <img src="images/mTray.png" alt="Image 2" /><br />
              <input
                type="radio"
                name="size"
                value="Medium(25 to 30 pax)-850"
              />
              M (₱850) (10-12)
            </label>
            <label>
              <img src="images/lTray.png" alt="Image 3" /><br />
              <input type="radio" name="size" value="Large(45 to 50 pax)1200" />
              L (₱1,200) (45-50 pax)
            </label>
          </div>
          <!-- Lightbox (hidden by default) -->
          <div class="lightbox" id="lightbox">
            <img src="" alt="Enlarged Image" class="lightbox-image" />
          </div>
          <div class="rat">
            <p>Rating:</p>
            <div class="star-rating" id="starce">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button onclick="addToCart('Chicken Embotido','ce')" class="cbtn">
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" id="chkr">
        <img class="card-image" src="images/f1.jpg" alt="" />
        <div class="card-detail">
          <h4>Chicken Roll (Tray)</h4>
          <div class="gallery" style="margin-top: 11%">
            <label>
              <img src="images/sTray.png" alt="Image 1" /><br />
              <input type="radio" name="size" value="Small(10 to 12 pax)-400" />
              S (₱400) (10-12 pax)
            </label>
            <label>
              <img src="images/mTray.png" alt="Image 2" /><br />
              <input
                type="radio"
                name="size"
                value="Medium(25 to 30 pax)1000"
              />
              M (₱1,000) (25-30 pax)
            </label>
            <label>
              <img src="images/lTray.png" alt="Image 3" /><br />
              <input
                type="radio"
                name="size"
                value="Large(45 to 50 pax)-1500"
              />
              L (₱1,500) (45-50 pax)
            </label>
          </div>
          <!-- Lightbox (hidden by default) -->
          <div class="lightbox" id="lightbox">
            <img src="" alt="Enlarged Image" class="lightbox-image" />
          </div>
          <div class="rat">
            <p>Rating:</p>
            <div class="star-rating" id="star8">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button onclick="addToCart('Chicken Roll','chkr')" class="cbtn">
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" id="cbm">
        <img class="card-image" src="images/cbm.jpg" alt="" />
        <div class="card-detail">
          <h4>Creamy Beef w/ Mushroom (Tray)</h4>
          <div class="gallery">
            <label>
              <img src="images/sTray.png" alt="Image 1" /><br />
              <input type="radio" name="size" value="Small(10 to 12 pax)-700" />
              S (₱700) (10-12 pax)
            </label>
            <label>
              <img src="images/mTray.png" alt="Image 2" /><br />
              <input
                type="radio"
                name="size"
                value="Medium(25 to 30 pax)-1800"
              />
              M (₱1,800) (25-30 pax)
            </label>
            <label>
              <img src="images/lTray.png" alt="Image 3" /><br />
              <input
                type="radio"
                name="size"
                value="Large(455 to 50 pax)-3500"
              />
              L (₱3,500) (45-50 pax)
            </label>
          </div>
          <!-- Lightbox (hidden by default) -->
          <div class="lightbox" id="lightbox">
            <img src="" alt="Enlarged Image" class="lightbox-image" />
          </div>
          <div class="rat">
            <p>Rating:</p>
            <div class="star-rating" id="star9">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button
            onclick="addToCart('Creamy Beef Mushroom','cbm')"
            class="cbtn"
          >
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" id="embtdo">
        <img class="card-image" src="images/emb.jpg" alt="" />
        <div class="card-detail">
          <h4>Embotido (Tray)</h4>
          <div class="gallery" style="margin-top: 11%">
            <label>
              <img src="images/sTray.png" alt="Image 1" /><br />
              <input type="radio" name="size" value="Small(10 to 12 pax)-400" />
              S (₱400) (10-12 pax)
            </label>
            <label>
              <img src="images/mTray.png" alt="Image 2" /><br />
              <input
                type="radio"
                name="size"
                value="Medium(25 to 30 pax)-1000"
              />
              M (₱1,000) (25-30 pax)
            </label>
            <label>
              <img src="images/lTray.png" alt="Image 3" /><br />
              <input
                type="radio"
                name="size"
                value="Large(45 to 50 pax)-1500"
              />
              L (₱1,500) (45-50 pax)
            </label>
          </div>
          <!-- Lightbox (hidden by default) -->
          <div class="lightbox" id="lightbox">
            <img src="" alt="Enlarged Image" class="lightbox-image" />
          </div>
          <div class="rat">
            <p>Rating:</p>
            <div class="star-rating" id="star10">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button onclick="addToCart('Embotido','embtdo')" class="cbtn">
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" id="flu">
        <img class="card-image" src="images/flu.jpg" alt="" />
        <div class="card-detail">
          <h4>Fresh Lumpiang Ubod<br />(Tray)</h4>
          <div class="gallery">
            <label>
              <img src="images/sTray.png" alt="Image 1" /><br />
              <input type="radio" name="size" value="Small(10 to 12 pax)-400" />
              S (₱400) (10-12 pax)
            </label>
            <label>
              <img src="images/mTray.png" alt="Image 2" /><br />
              <input
                type="radio"
                name="size"
                value="Medium(25 to 30 pax)-600"
              />
              M (₱600) (25-30 pax)
            </label>
            <label>
              <img src="images/lTray.png" alt="Image 3" /><br />
              <input
                type="radio"
                name="size"
                value="Large(45 to 50 pax)-1000"
              />
              L (₱1,000) (45-50 pax)
            </label>
          </div>
          <!-- Lightbox (hidden by default) -->
          <div class="lightbox" id="lightbox">
            <img src="" alt="Enlarged Image" class="lightbox-image" />
          </div>
          <div class="rat">
            <p>Rating:</p>
            <div class="star-rating" id="star11">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button onclick="addToCart('Fresh Lumpiang Ubod','flu')" class="cbtn">
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" id="fcf">
        <img class="card-image" src="images/fcf.jpg" alt="" />
        <div class="card-detail">
          <h4>Fried Chicken Fingers<br />(Tray)</h4>
          <div class="gallery">
            <label>
              <img src="images/sTray.png" alt="Image 1" /><br />
              <input type="radio" name="size" value="Small(10 to 12 pax)-500" />
              S (₱500) (10-12 pax)
            </label>
            <label>
              <img src="images/mTray.png" alt="Image 2" /><br />
              <input
                type="radio"
                name="size"
                value="Medium(25 to 30 pax)-1000"
              />
              M (₱1,000) (25-30 pax)
            </label>
            <label>
              <img src="images/lTray.png" alt="Image 3" /><br />
              <input
                type="radio"
                name="size"
                value="Large(45 to 50 pax)-2350"
              />
              L (₱2,350) (45-50 pax)
            </label>
          </div>
          <!-- Lightbox (hidden by default) -->
          <div class="lightbox" id="lightbox">
            <img src="" alt="Enlarged Image" class="lightbox-image" />
          </div>
          <div class="rat">
            <p>Rating:</p>
            <div class="star-rating" id="star12">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button
            onclick="addToCart('Fried Chicken Fingers','fcf')"
            class="cbtn"
          >
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" id="fff">
        <img class="card-image" src="images/f5.jpg" alt="" />
        <div class="card-detail">
          <h4>Fried Fish Filet (Tray)</h4>
          <div class="gallery" style="margin-top: 11%">
            <label>
              <img src="images/sTray.png" alt="Image 1" /><br />
              <input type="radio" name="size" value="Small(10 to 12 pax)-300" />
              S (₱300) (10-12 pax)
            </label>
            <label>
              <img src="images/mTray.png" alt="Image 2" /><br />
              <input
                type="radio"
                name="size"
                value="Medium(25  to 30 pax)-900"
              />
              M (₱900) (25-30 pax)
            </label>
            <label>
              <img src="images/lTray.png" alt="Image 3" /><br />
              <input
                type="radio"
                name="size"
                value="Large(45 to 50 pax)-1400"
              />
              L (₱1,400) (45-50 pax)
            </label>
          </div>
          <!-- Lightbox (hidden by default) -->
          <div class="lightbox" id="lightbox">
            <img src="" alt="Enlarged Image" class="lightbox-image" />
          </div>
          <div class="rat">
            <p>Rating:</p>
            <div class="star-rating" id="star13">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button onclick="addToCart('Fried Fish Fillet','fff')" class="cbtn">
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" id="chk">
        <img class="card-image" src="images/gc.jpg" alt="" />
        <div class="card-detail">
          <h4>Glazed Chicken (Tray)</h4>
          <div class="gllry" style="margin-top: 11%">
            <label>
              <img src="images/sTray.png" alt="Image 1" /><br />
              <input type="radio" name="size" value="Small(10 to 12 pax)-525" />
              S (₱525) (10-12 pax)
            </label>
            <label>
              <img src="images/mTray.png" alt="Image 2" /><br />
              <input
                type="radio"
                name="size"
                value="Medium(25  to 30 pax)-1000"
              />
              M (₱1,000) (25-30 pax)
            </label>
            <label>
              <img src="images/lTray.png" alt="Image 3" /><br />
              <input
                type="radio"
                name="size"
                value="Large(45 to 50 pax)-2500"
              />
              L (₱2,500) (45-50 pax)
            </label>
          </div>
          <div class="rat">
            <p>Rating:</p>
            <div class="star-rating" id="star14">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button onclick="addToCart('Glazed Chicken','chk')" class="cbtn">
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" id="gff">
        <img class="card-image" src="images/gff.jpg" alt="" />
        <div class="card-detail">
          <h4>Glazed Fish Fillet (Tray)</h4>
          <div class="gllry" style="margin-top: 11%">
            <label>
              <img src="images/sTray.png" alt="Image 1" /><br />
              <input type="radio" name="size" value="Small(10 to 12 pax)-300" />
              S (₱300) (10-12 pax)
            </label>
            <label>
              <img src="images/mTray.png" alt="Image 2" /><br />
              <input
                type="radio"
                name="size"
                value="Medium(25  to 30 pax)-900"
              />
              M (₱900) (25-30 pax)
            </label>
            <label>
              <img src="images/lTray.png" alt="Image 3" /><br />
              <input
                type="radio"
                name="size"
                value="Large(45 to 50 pax)-1400"
              />
              L (₱1,400) (45-50 pax)
            </label>
          </div>
          <div class="rat">
            <p>Rating:</p>
            <div class="star-rating" id="star15">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button onclick="addToCart('Glaze Fish Fillet','gff')" class="cbtn">
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" id="hndo">
        <img class="card-image" src="images/hmdo.jpg" alt="" />
        <div class="card-detail">
          <h4>Hamonado (Tray)</h4>
          <div class="gallery" style="margin-top: 11%">
            <label>
              <img src="images/sTray.png" alt="Image 1" /><br />
              <input type="radio" name="size" value="Small(10 to 12 pax)-600" />
              S (₱600) (10-12 pax)
            </label>
            <label>
              <img src="images/mTray.png" alt="Image 2" /><br />
              <input
                type="radio"
                name="size"
                value="Medium(25 to 30 pax)-1450"
              />
              M (₱1,450) (25 to 30 pax)
            </label>
            <label>
              <img src="images/lTray.png" alt="Image 3" /><br />
              <input
                type="radio"
                name="size"
                value="Large(45 to 50 pax)-2800"
              />
              L (₱2,800) (45-50 pax)
            </label>
          </div>
          <!-- Lightbox (hidden by default) -->
          <div class="lightbox" id="lightbox">
            <img src="" alt="Enlarged Image" class="lightbox-image" />
          </div>
          <div class="rat">
            <p>Rating:</p>
            <div class="star-rating" id="star16">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button
            onclick="addToCart('Hamonado','hndo')"
            class="cbtn"
            onclick="Login()"
          >
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" id="kk">
        <img class="card-image" src="images/kk.jpg" alt="" />
        <div class="card-detail">
          <h4>Kare-Kare (Tray)</h4>
          <div class="gallery">
            <label>
              <img src="images/sTray.png" alt="Image 1" /><br />
              <input type="radio" name="size" value="Small(10 to 12 pax)-570" />
              S (₱570) (10-12 pax)
            </label>
            <label>
              <img src="images/mTray.png" alt="Image 2" /><br />
              <input
                type="radio"
                name="size"
                value="Medium(25 to 30 pax)-1350"
              />
              M (₱1,350) (25 to 30 pax)
            </label>
            <label>
              <img src="images/lTray.png" alt="Image 3" /><br />
              <input
                type="radio"
                name="size"
                value="Large(45 to 50 pax)-2800"
              />
              L (₱2,800) (45-50 pax)
            </label>
          </div>
          <!-- Lightbox (hidden by default) -->
          <div class="lightbox" id="lightbox">
            <img src="" alt="Enlarged Image" class="lightbox-image" />
          </div>
          <div class="rat">
            <p>Rating:</p>
            <div class="star-rating" id="star17">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button onclick="addToCart('Kare-Kare','kk')" class="cbtn">
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" id="kbs">
        <img class="card-image" src="images/kbs.jpg" alt="" />
        <div class="card-detail">
          <h4>Korean Beef Stew (Tray)</h4>
          <div class="gallery">
            <label>
              <img src="images/sTray.png" alt="Image 1" /><br />
              <input type="radio" name="size" value="Small(10 to 12 pax)-700" />
              S (₱700) (10-12 pax)
            </label>
            <label>
              <img src="images/mTray.png" alt="Image 2" /><br />
              <input
                type="radio"
                name="size"
                value="Medium(25 to 30 pax)-1800"
              />
              M (₱1,800) (25-30 pax)
            </label>
            <label>
              <img src="images/lTray.png" alt="Image 3" /><br />
              <input
                type="radio"
                name="size"
                value="Large(45 to 50 pax)-3500"
              />
              L (₱3,500) (45-50 pax)
            </label>
          </div>
          <!-- Lightbox (hidden by default) -->
          <div class="lightbox" id="lightbox">
            <img src="" alt="Enlarged Image" class="lightbox-image" />
          </div>
          <div class="rat">
            <p>Rating:</p>
            <div class="star-rating" id="star18">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button
            onclick="addToCart('Korean Beef Stew','kbs')"
            class="cbtn"
            onclick="Login()"
          >
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" id="mnd">
        <img class="card-image" src="images/mn.jpg" alt="" />
        <div class="card-detail">
          <h4>Menudo (Tray)</h4>
          <div class="gallery">
            <label>
              <img src="images/sTray.png" alt="Image 1" /><br />
              <input type="radio" name="size" value="Small(10 to 12 pax)-570" />
              S (₱570) (10-12 pax)
            </label>
            <label>
              <img src="images/mTray.png" alt="Image 2" /><br />
              <input
                type="radio"
                name="size"
                value="Medium(25 to 30 pax)-1350"
              />
              M (₱1,350) (25-30 pax)
            </label>
            <label>
              <img src="images/lTray.png" alt="Image 3" /><br />
              <input
                type="radio"
                name="size"
                value="Large(45 to 50 pax)-2600"
              />
              L (₱2,600) (45-50 pax)
            </label>
          </div>
          <!-- Lightbox (hidden by default) -->
          <div class="lightbox" id="lightbox">
            <img src="" alt="Enlarged Image" class="lightbox-image" />
          </div>
          <div class="rat">
            <p>Rating:</p>
            <div class="star-rating" id="star19">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button onclick="addToCart('Menudo','mnd')" class="cbtn">
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" id="mvc">
        <img class="card-image" src="images/cream.jpeg" alt="" />
        <div class="card-detail">
          <h4>Mixed Vegies in Cream (Tray)</h4>
          <div class="gallery" style="margin-top: 11%">
            <label>
              <img src="images/sTray.png" alt="Image 1" /><br />
              <input type="radio" name="size" value="Small(10 to 12 pax)-400" />
              S (₱400) (10-12 pax)
            </label>
            <label>
              <img src="images/mTray.png" alt="Image 2" /><br />
              <input
                type="radio"
                name="size"
                value="Medium(25 to 30 pax)-900"
              />
              M (₱900) (25-30 pax)
            </label>
            <label>
              <img src="images/lTray.png" alt="Image 3" /><br />
              <input
                type="radio"
                name="size"
                value="Large(45 to 50 pax)-1850"
              />
              L (₱1,850) (45-50 pax)
            </label>
          </div>
          <!-- Lightbox (hidden by default) -->
          <div class="lightbox" id="lightbox">
            <img src="" alt="Enlarged Image" class="lightbox-image" />
          </div>
          <div class="rat">
            <p>Rating:</p>
            <div class="star-rating" id="star20">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button
            onclick="addToCart('Mixed Veggies in Cream','mvc')"
            class="cbtn"
          >
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" id="mb">
        <img class="card-image" src="images/mong.jpg" alt="" />
        <div class="card-detail">
          <h4>Mongolian Beef (Tray)</h4>
          <div class="gallery" style="margin-top: 11%">
            <label>
              <img src="images/sTray.png" alt="Image 1" /><br />
              <input type="radio" name="size" value="Small(10 to 12 pax)-700" />
              S (₱700) (10-12 pax)
            </label>
            <label>
              <img src="images/mTray.png" alt="Image 2" /><br />
              <input
                type="radio"
                name="size"
                value="Medium(25 to 30 pax)-1800"
              />
              M (₱1,800)
            </label>
            <label>
              <img src="images/lTray.png" alt="Image 3" /><br />
              <input type="radio" name="size" value="Large(45 to 50)-3500" />
              L (₱3,500) (45 to 50 pax)
            </label>
          </div>
          <!-- Lightbox (hidden by default) -->
          <div class="lightbox" id="lightbox">
            <img src="" alt="Enlarged Image" class="lightbox-image" />
          </div>
          <div class="rat">
            <p>Rating:</p>
            <div class="star-rating" id="star21">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button
            onclick="addToCart('Mongolian Beef','mb')"
            class="cbtn"
            onclick="Login()"
          >
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" id="pp">
        <img class="card-image" src="images/pastel.jpg" alt="" />
        <div class="card-detail">
          <h4>Pork Pastel (Tray)</h4>
          <div class="gallery" style="margin-top: 11%">
            <label>
              <img src="images/sTray.png" alt="Image 1" /><br />
              <input type="radio" name="size" value="Small(10 to 12 pax)-570" />
              S (₱570) (10-12 pax)
            </label>
            <label>
              <img src="images/mTray.png" alt="Image 2" /><br />
              <input
                type="radio"
                name="size"
                value="Medium(25 to 30 pax)-1350"
              />
              M (₱1,350) (25-30 pax)
            </label>
            <label>
              <img src="images/lTray.png" alt="Image 3" /><br />
              <input
                type="radio"
                name="size"
                value="Large(45 to 50 pax)-2600"
              />
              L (₱2,600) (45-50 pax)
            </label>
          </div>
          <!-- Lightbox (hidden by default) -->
          <div class="lightbox" id="lightbox">
            <img src="" alt="Enlarged Image" class="lightbox-image" />
          </div>
          <div class="rat">
            <p>Rating:</p>
            <div class="star-rating" id="star22">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button
            onclick="addToCart('Pork Pastel','pp')"
            class="cbtn"
            onclick="Login()"
          >
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" id="sfvcgs">
        <img class="card-image" src="images/fishveg.jpg" alt="" />
        <div class="card-detail">
          <h4>Sauted Fish and Veggies in Chili Garlic Sauce (Tray)</h4>
          <div class="gallery">
            <label>
              <img src="images/sTray.png" alt="Image 1" /><br />
              <input type="radio" name="size" value="Small(10 to 12 pax)-400" />
              S (₱400) (10-12 pax)
            </label>
            <label>
              <img src="images/mTray.png" alt="Image 2" /><br />
              <input
                type="radio"
                name="size"
                value="Medium(25 to 30 pax)-1000"
              />
              M (₱1,000) (25-30 pax)
            </label>
            <label>
              <img src="images/lTray.png" alt="Image 3" /><br />
              <input
                type="radio"
                name="size"
                value="Large(45 to 50 pax)-1550"
              />
              L (₱1,550) (45-50 pax)
            </label>
          </div>
          <!-- Lightbox (hidden by default) -->
          <div class="lightbox" id="lightbox">
            <img src="" alt="Enlarged Image" class="lightbox-image" />
          </div>
          <div class="rat">
            <p>Rating:</p>
            <div class="star-rating" id="star23">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button
            onclick="addToCart('Sauted Fish and Veggies','sfvcgs')"
            class="cbtn"
            onclick="Login()"
          >
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" id="svos">
        <img class="card-image" src="images/saute.jpg" alt="" />
        <div class="card-detail">
          <h4>Sauteed Veggies in Oyster Sauce (Tray)</h4>
          <div class="gallery">
            <label>
              <img src="images/sTray.png" alt="Image 1" /><br />
              <input type="radio" name="size" value="Small(10 to 12 pax)-400" />
              S (₱400) (10-12 pax)
            </label>
            <label>
              <img src="images/mTray.png" alt="Image 2" /><br />
              <input
                type="radio"
                name="size"
                value="Medium(25 to 30 pax)-900"
              />
              M (₱900) (25-30 pax)
            </label>
            <label>
              <img src="images/lTray.png" alt="Image 3" /><br />
              <input
                type="radio"
                name="size"
                value="Large(45 to 50 pax)-1850"
              />
              L (₱1,850) (45-50 pax)
            </label>
          </div>
          <!-- Lightbox (hidden by default) -->
          <div class="lightbox" id="lightbox">
            <img src="" alt="Enlarged Image" class="lightbox-image" />
          </div>
          <div class="rat">
            <p>Rating:</p>
            <div class="star-rating" id="star24">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button
            onclick="addToCart('Sauteed Veggies in Oyster','svos')"
            class="cbtn"
          >
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" id="ssg">
        <img class="card-image" src="images/sisig.jpg" alt="" />
        <div class="card-detail">
          <h4>Sisig (Tray)</h4>
          <div class="gallery" style="margin-top: 11%">
            <label>
              <img src="images/sTray.png" alt="Image 1" /><br />
              <input type="radio" name="size" value="Small(10 to 12 pax)-600" />
              S (₱600) (10-12 pax)
            </label>
            <label>
              <img src="images/mTray.png" alt="Image 2" /><br />
              <input
                type="radio"
                name="size"
                value="Medium(25 to 30 pax)-1450"
              />
              M (₱1,450) (25-30 pax)
            </label>
            <label>
              <img src="images/lTray.png" alt="Image 3" /><br />
              <input
                type="radio"
                name="size"
                value="Large(45 to 50 pax)-2800"
              />
              L (₱2,800) (45-50 pax)
            </label>
          </div>
          <!-- Lightbox (hidden by default) -->
          <div class="lightbox" id="lightbox">
            <img src="" alt="Enlarged Image" class="lightbox-image" />
          </div>
          <div class="rat">
            <p>Rating:</p>
            <div class="star-rating" id="star25">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button onclick="addToCart('Sisig','ssg')" class="cbtn">
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" id="ssf">
        <img class="card-image" src="images/ssf.jpg" alt="" />
        <div class="card-detail">
          <h4>Sweet and Sour Fish Fillet (Tray)</h4>
          <div class="gallery">
            <label>
              <img src="images/sTray.png" alt="Image 1" /><br />
              <input type="radio" name="size" value="Small(10 to 12 pax)-300" />
              S (₱300) (10-12 pax)
            </label>
            <label>
              <img src="images/mTray.png" alt="Image 2" /><br />
              <input
                type="radio"
                name="size"
                value="Medium(25 to 30 pax)-950"
              />
              M (₱950) (25-30)
            </label>
            <label>
              <img src="images/lTray.png" alt="Image 3" /><br />
              <input
                type="radio"
                name="size"
                value="Large(45 to 50 pax)-1500"
              />
              L (₱1,500) (45-50 pax)
            </label>
          </div>
          <!-- Lightbox (hidden by default) -->
          <div class="lightbox" id="lightbox">
            <img src="" alt="Enlarged Image" class="lightbox-image" />
          </div>
          <div class="rat">
            <p>Rating:</p>
            <div class="star-rating" id="star26">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button
            onclick="addToCart('Sweet and Sour Fish Fillet','ssf')"
            class="cbtn"
          >
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" id="ssp">
        <img class="card-image" src="images/ssp.jpg" alt="" />
        <div class="card-detail">
          <h4>Sweet and Sour Pork (Tray)</h4>
          <div class="gallery" style="margin-top: 11%">
            <label>
              <img src="images/sTray.png" alt="Image 1" /><br />
              <input type="radio" name="size" value="Small(10 to 12 pax)-570" />
              S (₱570) (10-12 pax)
            </label>
            <label>
              <img src="images/mTray.png" alt="Image 2" /><br />
              <input
                type="radio"
                name="size"
                value="Medium(25 to 30 pax)-1350"
              />
              M (₱1,350) (10-12 pax)
            </label>
            <label>
              <img src="images/lTray.png" alt="Image 3" /><br />
              <input
                type="radio"
                name="size"
                value="Large(45 to 50 pax)-2600"
              />
              L (₱2,600) (45-50 pax)
            </label>
          </div>
          <!-- Lightbox (hidden by default) -->
          <div class="lightbox" id="lightbox">
            <img src="" alt="Enlarged Image" class="lightbox-image" />
          </div>
          <div class="rat">
            <p>Rating:</p>
            <div class="star-rating" id="star27">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button
            onclick="addToCart('Sweet and Sour Pork','ssp')"
            class="cbtn"
            onclick="Login()"
          >
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div id="cart-mod" class="mod">
        <div class="mod-cont">
          <span class="clse" onclick="closeCartModal()">&times;</span>
          <h2 class="crt">My Cart</h2>
          <ul id="mod-cart-items"></ul>
          <div class="total-amount"><span id="total-amount">0</span></div>
          <div class="plc">
            <button onclick="placeOrder()">Place Order</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="lbl" style="margin-top: 5%">
        <label class="fp" for="">Store Location</label>
        <img
          src="images/gltr.png"
          style="margin: -10px 0 0 -600px; z-index: 1"
          alt=""
        />
      </div>
      <div class="card-map">
        <div>
          <img
            style="float: left; margin-top: 2%"
            src="images/mam.png"
            alt=""
          />
        </div>
        <div style="float: left; margin: 0 0 0 6%">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15472.867843019703!2d121.5175007991047!3d14.182067032989185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33bd560d1ac71ceb%3A0x708ef8288bc6c6fd!2sSan%20Isidro%2C%20Luisiana%2C%20Laguna!5e0!3m2!1sen!2sph!4v1696657468374!5m2!1sen!2sph"
            width="600"
            height="400"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
    <script src="scripts/cart.js"></script>
    <script src="scripts/trays.js"></script>
  </body>
  <div class="cntr">
    <footer
      class="text-white text-center text-lg-start"
      style="background-color: #c69b68"
    >
      <!-- Grid container -->
      <div class="p-5">
        <!--Grid row-->

        <div class="row mt-4">
          <div class="col-lg-1 col-md-6 mb-4 mb-md-0"></div>
          <!--Grid column-->
          <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">About company</h5>

            <label style="color: white">
              Thank you for choosing Maya&Me Services for your food ordering
              needs. We're here to satisfy your cravings, one delicious meal at
              a time. Enjoy your meal and have a wonderful day!
            </label>

            <div class="mt-4">
              <!-- Facebook -->
              <a type="button" class="btn btn-floating btn-warning btn-lg"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <!-- Dribbble -->
              <a type="button" class="btn btn-floating btn-warning btn-lg"
                ><i class="fab fa-dribbble"></i
              ></a>
              <!-- Twitter -->
              <a type="button" class="btn btn-floating btn-warning btn-lg"
                ><i class="fab fa-twitter"></i
              ></a>
              <!-- Google + -->
              <a type="button" class="btn btn-floating btn-warning btn-lg"
                ><i class="fab fa-google-plus-g"></i
              ></a>
              <!-- Linkedin -->
            </div>
          </div>
          <!--Grid column-->
          <div class="col-lg-1 col-md-6 mb-4 mb-md-0"></div>
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4 pb-1">Contact Us</h5>

            <ul class="fa-ul" style="margin-left: 1.65em">
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-home"></i></span
                ><span class="ms-2">Brgy San Isidro Luisiana,Laguna</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-envelope"></i></span
                ><span class="ms-2">mayaandme74@gmail.com</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-phone"></i></span
                ><span class="ms-2">09186506362</span>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">Opening hours</h5>

            <table class="table text-center text-white">
              <tbody class="font-weight-normal">
                <tr>
                  <td>Mon - Thu:</td>
                  <td>8am - 9pm</td>
                </tr>
                <tr>
                  <td>Fri - Sat:</td>
                  <td>8am - 1am</td>
                </tr>
                <tr>
                  <td>Sunday:</td>
                  <td>9am - 10pm</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div
        class="text-center p-3"
        style="font-weight: bold; background-color: #ffefe4; color: #c69b68"
      >
        © 2023 Copyright:
        <label style="color: #c69b68">Maya&Me Services</label>
      </div>
      <!-- Copyright -->
    </footer>
  </div>
</html>
