<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="website icon" type="png" href="images/maya.png" />
    <link href="https://fonts.cdnfonts.com/css/caveat" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Rubik:400,700"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://kit.fontawesome.com/7f01a542af.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="stylesheets/menu.css" />
    <title>User Meals</title>
  </head>
  <body
    style="
      background-image: url('images/standard-bg.png');
      background-size: cover;
      background-repeat: no-repeat;
    "
  >
  <div class="topnav"> 
    <div class="menu-toggle">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <a href="/UserDashboard"><img src="images/logo.png" height="60px" width="60px"/></a>
    <a href="/UserDashboard"><img src="images/mayame.png" height="60px" width="190px"/></a>
    <div class="menu">
      <a class="nav" href="/UserDashboard">Home</a>
    <div class="nav" onclick="openProfileModal()" style="font-size: 22px;cursor: pointer;float: right;margin: 1.3% 3% 0 0;color: #976b35;"> <i class="fas fa-user-circle fa-2x"></i>
    </div>
      <!-- Profile Modal -->
      <div id="profileModal" class="pmod">
        <div class="modal-contents">
          <span class="close" onclick="closeProfileModal()">&times;</span>
          <a class="prof" href="/profile">My Profile</a>
          <a class="prof" href="/recommendations">Recommended</a>
          <a class="prof" href="/logout">Logout</a>
        </div>
        
      <a class="nav" onclick="openCartModal()" style="margin: 0.8% 0 0 0;font-size: 19px;cursor: pointer;color: #976b35;float: right;"><i class="fas fa-shopping-cart fa-2x"></i><span id="cart-counter">0</span>
      </a>
      <%- include('dietaryPreferences.ejs') %>
      <a class="nav" href="#" id="dietaryPreferencesNav" onclick="openDietaryModal()">Dietary Preferences</a>
      <a class="nav" href="/recommendations">Recommended</a>
      <a class="nav" href="/contact">Contact Us</a>
    <a class="nav" href="/about">About Us</a>
    </div>
     <div class="side-menu">
      <a href="/UserDashboard">Home</a>
      <a href="/confirmorderinfo">Orders</a>
      <a href="#" id="dietaryPreferencesNav" onclick="openDietaryModal()">Dietary</a>
      <a href="#">Contact</a>
      <a href="/about">About</a>
      <a class="nav" style="color: #000000;" onclick="openCartModal()">My Cart</i></a>
      <a href="/profile">My Profile</a>
      <a href="/logout">Logout</a>
    </div>
  </div>
  <div class="dashboard">
    <div class="dashboard-banner">
      <img src="images/long.jpg" alt="" />
      <div class="banner-promo">
        <span
          ><img class="logo" src="images/maya.png" alt="" height="330px"
        /></span>
      </div>
      <div class="cont">
        <div class="log">
          <a class="fbtns" href="/userMenu">Food Menu</a>
          <a class="fbtns" href="/userTrays">Party Trays</a>
          <a class="fbtns active" href="/userMeals">Solo Meals</a>           
        </div>
      </div>
    </div>
  </div>
    <div class="dashboard-content" id="container">
      <div class="cards" style="height: 475px" id="brm">
        <img class="card-image" src="images/bac.jpg" alt="" />
        <div class="card-detail">
          <h4>Bacon</h4>
          <div>
            <input type="radio" name="size" value="With Egg-100" />
            <label for="">With Egg (₱100.00)</label><br />
            <input type="radio" name="size" value="Without Egg-95" />
            <label for="">Without Egg (₱95.00)</label><br />
          </div>
          <div class="rat" style="margin-top: 9%">
            <p>Rating:</p>
            <div class="star-rating" id="starmls">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <div>
            <button class="cbtn">Order</button>
            <button onclick="addToCart('Bacon Rice Meal','brm')" class="cbtn">
              <i class="fas fa-shopping-cart"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="cards" style="height: 475px" id="btrm">
        <img class="card-image" src="images/tap.jpg" alt="" />
        <div class="card-detail">
          <h4>Beef Tapa</h4>
          <div>
            <input type="radio" name="size" value="With Egg-110" />
            <label for="">With Egg (₱110.00)</label><br />
            <input type="radio" name="size" value="Without Egg-105" />
            <label for="">Without Egg (₱105.00)</label><br />
          </div>
          <div class="rat" style="margin-top: 9%">
            <p>Rating:</p>
            <div class="star-rating" id="starmls1">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button
            onclick="addToCart('Beef Tapa Rice Meal','btrm')"
            class="cbtn"
          >
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" style="height: 475px" id="crrm">
        <img class="card-image" src="images/cr.jpg" alt="" />
        <div class="card-detail">
          <h4>Chicken Roll</h4>
          <div>
            <input type="radio" name="size" value="With Egg-100" />
            <label for="">With Egg (₱100.00)</label><br />
            <input type="radio" name="size" value="Without Egg-95" />
            <label for="">Without Egg (₱95.00)</label><br />
          </div>
          <div class="rat" style="margin-top: 9%">
            <p>Rating:</p>
            <div class="star-rating" id="starmls2">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button
            onclick="addToCart('Chicken Roll Rice Meal','crrm')"
            class="cbtn"
          >
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" id="hsrm" style="height: 475px">
        <img class="card-image" src="images/hs.jpg" alt="" />
        <div class="card-detail">
          <h4>Hungarian Sausage</h4>
          <div>
            <input type="radio" name="size" value="With Egg-100" />
            <label for="">With Egg (₱85.00)</label><br />
            <input type="radio" name="size" value="Without Egg-95" />
            <label for="">Without Egg (₱80.00)</label><br />
            <input type="radio" name="size" value="Additional Sausage-115" />
            <label for="">Additional Sausage (₱115.00)</label><br />
          </div>
          <div class="rat">
            <p>Rating:</p>
            <div class="star-rating" id="starmls3">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button
            onclick="addToCart('Hungarian Rice Meal','hsrm')"
            class="cbtn"
          >
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" style="height: 475px" id="lrm">
        <img class="card-image" src="images/lrm.jpg" alt="" />
        <div class="card-detail">
          <h4>Longganisa</h4>
          <div>
            <input type="radio" name="size" value="With Egg-85" />
            <label for="">With Egg (₱85.00)</label><br />
            <input type="radio" name="size" value="Without Egg-80" />
            <label for="">Without Egg (₱80.00)</label><br />
          </div>
          <div class="rat" style="margin-top: 9%">
            <p>Rating:</p>
            <div class="star-rating" id="starmls5">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button
            onclick="addToCart('Longganisa Rice Meal','lrm')"
            class="cbtn"
          >
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" style="height: 475px" id="lsrm">
        <img class="card-image" src="images/ls.jpg" alt="" />
        <div class="card-detail">
          <h4>Lumpiang Shanghai</h4>
          <div>
            <input type="radio" name="size" value="With Egg-100" />
            <label for="">With Egg (₱100.00)</label><br />
            <input type="radio" name="size" value="Without Egg-95" />
            <label for="">Without Egg (₱95.00)</label><br />
          </div>
          <div class="rat" style="margin-top: 9%">
            <p>Rating:</p>
            <div class="star-rating" id="starmls4">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button
            onclick="addToCart('Lumpiang Shanghai Rice Meal','lsrm')"
            class="cbtn"
          >
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="cards" style="height: 475px" id="ptcrm">
        <img class="card-image" src="images/ptcrm.jpg" alt="" />
        <div class="card-detail">
          <h4>Pork Tocino</h4>
          <div>
            <input type="radio" name="size" value="With Egg-90" />
            <label for="">With Egg (₱90.00)</label><br />
            <input type="radio" name="size" value="Without Egg-85" />
            <label for="">Without Egg (₱85.00)</label><br />
          </div>
          <div class="rat" style="margin-top: 9%">
            <p>Rating:</p>
            <div class="star-rating" id="starmls6">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time"><span class="fas fa-clock"></span>15-30 mins</p>
          <button class="cbtn">Order</button>
          <button
            onclick="addToCart('Pork Tocino Rice Meal','ptcrm')"
            class="cbtn"
          >
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
    </div>
    <div id="cart-mod" class="mod">
      <div class="mod-cont">
        <span class="clse" onclick="closeCartModal()">&times;</span>
        <h2 class="crt">My Cart</h2>
        <ul id="mod-cart-items"></ul>
        <div class="total-amount"><span id="total-amount">0</span></div>
        <div class="plc">
          <button onclick="placeOrder()">Place Order</button>
        </div>
      </div>
    </div>
    <script src="scripts/meals.js"></script>
  </body>
  <div class="cntr" style="margin-top: 100px">
    <footer
      class="text-white text-center text-lg-start"
      style="background-color: #c69b68"
    >
      <!-- Grid container -->
      <div class="p-5">
        <!--Grid row-->

        <div class="row mt-4">
          <div class="col-lg-1 col-md-6 mb-4 mb-md-0"></div>
          <!--Grid column-->
          <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">About company</h5>

            <label style="color: white">
              Thank you for choosing Maya&Me Services for your food ordering
              needs. We're here to satisfy your cravings, one delicious meal at
              a time. Enjoy your meal and have a wonderful day!
            </label>

            <div class="mt-4">
              <!-- Facebook -->
              <a type="button" class="btn btn-floating btn-warning btn-lg"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <!-- Dribbble -->
              <a type="button" class="btn btn-floating btn-warning btn-lg"
                ><i class="fab fa-dribbble"></i
              ></a>
              <!-- Twitter -->
              <a type="button" class="btn btn-floating btn-warning btn-lg"
                ><i class="fab fa-twitter"></i
              ></a>
              <!-- Google + -->
              <a type="button" class="btn btn-floating btn-warning btn-lg"
                ><i class="fab fa-google-plus-g"></i
              ></a>
              <!-- Linkedin -->
            </div>
          </div>
          <!--Grid column-->
          <div class="col-lg-1 col-md-6 mb-4 mb-md-0"></div>
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4 pb-1">Contact Us</h5>

            <ul class="fa-ul" style="margin-left: 1.65em">
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-home"></i></span
                ><span class="ms-2">Brgy San Isidro Luisiana,Laguna</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-envelope"></i></span
                ><span class="ms-2">mayaandme74@gmail.com</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-phone"></i></span
                ><span class="ms-2">09186506362</span>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">Opening hours</h5>

            <table class="table text-center text-white">
              <tbody class="font-weight-normal">
                <tr>
                  <td>Mon - Thu:</td>
                  <td>8am - 9pm</td>
                </tr>
                <tr>
                  <td>Fri - Sat:</td>
                  <td>8am - 1am</td>
                </tr>
                <tr>
                  <td>Sunday:</td>
                  <td>9am - 10pm</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div
        class="text-center p-3"
        style="font-weight: bold; background-color: #ffefe4; color: #c69b68"
      >
        © 2023 Copyright:
        <label style="color: #c69b68">Maya&Me Services</label>
      </div>
      <!-- Copyright -->
    </footer>
  </div>
</html>
