<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu | Maya&Me</title>
  <link rel="website icon" type="png" href="images/maya.png">
  <link href="https://fonts.cdnfonts.com/css/caveat" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://kit.fontawesome.com/7f01a542af.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="stylesheets/menu.css">
</head>
<body style="background-image: url('images/standard-bg.png'); background-size: cover;background-repeat: no-repeat;">
  <div class="topnav">
        <a href="/UserDashboard"><img src="images/logo.png" height="60px" width="60px"></a>
        <a href="/UserDashboard"><img src="images/mayame.png" height="60px" width="190px"></a>
  
        <div class="menu">
          <a class="nav" href="/UserDashboard">Home</a>
          <a class="nav" href="/confirmoderinfo">Orders</a>
          <a href="/logout" class="nav" style="float:right;">Logout</a>
          <a class="nav" onclick="openCartModal()"
          style="font-size: 14px; cursor:pointer; float: right; margin:1% 15px 0 0;color: #C69B68;"><i
          class="fas fa-shopping-cart fa-2x"></i></a>     
          <%- include('dietaryPreferences.ejs') %>
          <!-- <a class="nav" id="openDietaryModal" href="#">Dietary Preferences</a> -->
          <a class="nav" href="#" id="dietaryPreferencesNav" onclick="openDietaryModal()">Dietary Preferences</a>
          
        </div>
      <div class="menu-toggle">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
      <div class="dashboard">
        <div class="dashboard-banner">
          <img src="images/long.jpg" alt=""/>
          <div class="banner-promo">
              <span><img class="logo" src="images/maya.png" alt="" height="330px"></span>  
        </div>
        <div class="cont">
          <div class="log">
            <a class="fbtn active" href="/userMenu">Food Menu</a>
            <a class="fbtn" href="/userTrays">Party Trays</a>
            <a class="fbtn" href="/userMeals">Solo Meals</a>
          </div>
          </div>
        </div>
 <!-- main dashboard -->
 <div class="dashboard-content" id="container">
  <div class="dashboard-card">
    <img class="card-image" src="images/afritada.jpg" alt="" />
    <div class="card-detail">
        <h4>Afritada (Tray)</h4>
        <div class="gallery">
          <label>
            <img src="images/Safrtda.jpg" alt="Image 1"><br>
            <input type="radio" name="imageSelection">
            S (₱570) (10-12 pax)
          </label>
          <label>
            <img src="images/m4.jpg" alt="Image 2"><br>
            <input type="radio" name="imageSelection">
            M (₱1,350) (25-30 pax)
          </label>
          <label>
            <img src="images/m2.jpg" alt="Image 3"><br>
            <input type="radio" name="imageSelection">
            L (₱2,600) (45-50 pax)
          </label>
        </div>
         <!-- Lightbox (hidden by default) -->
  <div class="lightbox" id="lightbox">
    <img src="" alt="Enlarged Image" class="lightbox-image">
  </div>
  <div class="rat">
    <p>Rating:</p>
    <div class="star-rating" id="star-rating4">
      <!-- Star icons will be added here using JavaScript -->
    </div>
  </div>
        <p class="card-time">
            <span class="fas fa-clock"></span>15-30 mins
        </p>
  <button class="cbtn" onclick="Login()">Order</button>
  <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
</div>
</div>
<div class="dashboard-card">
  <img class="card-image" src="images/bac.jpg" alt="" />
  <div class="card-detail">
      <h4>Bacon (Rice Meal)</h4>
        <div class="rat" style="margin-top: 51%;">
          <p>Rating:</p>
          <div class="star-rating" id="star-rating5">
            <!-- Star icons will be added here using JavaScript -->
          </div>
        </div>
      <p class="card-time" >
          <span class="fas fa-clock"></span>15-30 mins
      </p>
      <div>
  <button class="cbtn" onclick="Login()">Order</button>
  <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
</div> 
</div>
</div>
    <div class="dashboard-card">
      <img class="card-image" src="images/bcd.jpg" alt="" />
      <div class="card-detail">
      <h4>Baked Cream Dory w/ Potatoes (Tray)</h4>
      <div class="gallery">
        <label>
          <img src="images/Safrtda.jpg" alt="Image 1"><br>
          <input type="radio" name="imageSelection">
          S (₱570) (10-12 pax)
        </label>
        <label>
          <img src="images/m4.jpg" alt="Image 2"><br>
          <input type="radio" name="imageSelection">
          M
        </label>
        <label>
          <img src="images/m2.jpg" alt="Image 3"><br>
      <input type="radio" name="imageSelection">
      L
    </label>
  </div>
     <!-- Lightbox (hidden by default) -->
     <div class="lightbox" id="lightbox">
      <img src="" alt="Enlarged Image" class="lightbox-image">
    </div>
    <div class="rat">
      <p>Rating:</p>
      <div class="star-rating" id="star-rating6">
        <!-- Star icons will be added here using JavaScript -->
      </div>
    </div>
  <p class="card-time">
    <span class="fas fa-clock"></span>15-30 mins
  </p>
  <button class="cbtn">Order</button>
  <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button> 
  </div>
  </div>
<div class="dashboard-card">
  <img class="card-image" src="images/caldereta.jpg" alt="" />
  <div class="card-detail">
      <h4>Beef Caldereta (Tray)</h4>
      <div class="gallery">
        <label>
          <img src="images/Safrtda.jpg" alt="Image 1"><br>
          <input type="radio" name="imageSelection">
          S (₱570) (10-12 pax)
        </label>
        <label>
          <img src="images/m4.jpg" alt="Image 2"><br>
          <input type="radio" name="imageSelection">
          M
        </label>
        <label>
          <img src="images/m2.jpg" alt="Image 3"><br>
          <input type="radio" name="imageSelection">
          L
        </label>
      </div>
         <!-- Lightbox (hidden by default) -->
  <div class="lightbox" id="lightbox">
    <img src="" alt="Enlarged Image" class="lightbox-image">
  </div>
  <div class="rat">
    <p>Rating:</p>
    <div class="star-rating" id="star-rating7">
      <!-- Star icons will be added here using JavaScript -->
    </div>
  </div>
      <p class="card-time">
          <span class="fas fa-clock"></span>15-30 mins
      </p>
    <button class="cbtn">Order</button>
    <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button> 
</div>
</div>
<div class="dashboard-card">
  <img class="card-image" src="images/bm.jpg" alt="" />
  <div class="card-detail">
    <h4>Beef Mechado (Tray)</h4>
    <div class="gallery">
      <label>
        <img src="images/Safrtda.jpg" alt="Image 1"><br>
        <input type="radio" name="imageSelection">
        S (₱570) (10-12 pax)
      </label>
      <label>
        <img src="images/m4.jpg" alt="Image 2"><br>
        <input type="radio" name="imageSelection">
        M
      </label>
      <label>
        <img src="images/m2.jpg" alt="Image 3"><br>
        <input type="radio" name="imageSelection">
        L
      </label>
    </div>
       <!-- Lightbox (hidden by default) -->
  <div class="lightbox" id="lightbox">
    <img src="" alt="Enlarged Image" class="lightbox-image">
  </div>
  <div class="rat">
    <p>Rating:</p>
    <div class="star-rating" id="star-rating8">
      <!-- Star icons will be added here using JavaScript -->
    </div>
  </div>
    <p class="card-time">
        <span class="fas fa-clock"></span>15-30 mins
    </p>
    <button class="cbtn">Order</button>
    <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
</div>
  </div>
<div class="dashboard-card">
  <img class="card-image" src="images/tap.jpg" alt="" />
  <div class="card-detail">
      <h4>Beef Tapa (Rice Meal)</h4>
      <div class="rat" style="margin-top: 28%;">
        <p>Rating:</p>
        <div class="star-rating" id="star-rating9">
          <!-- Star icons will be added here using JavaScript -->
        </div>
      </div>
      <p class="card-time">
          <span class="fas fa-clock"></span>15-30 mins
      </p>
      <button class="cbtn">Order</button>
      <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
  </div>
</div>
<div class="dashboard-card">
  <img class="card-image" src="images/bwb.jpg" alt="" />
  <div class="card-detail">
      <h4>Beef w/ Broccoli (Tray)</h4>
      <div class="gallery">
        <label>
          <img src="images/Safrtda.jpg" alt="Image 1"><br>
          <input type="radio" name="imageSelection">
          S (₱570) (10-12 pax)
        </label>
        <label>
          <img src="images/m4.jpg" alt="Image 2"><br>
          <input type="radio" name="imageSelection">
          M
        </label>
        <label>
          <img src="images/m2.jpg" alt="Image 3"><br>
          <input type="radio" name="imageSelection">
          L
        </label>
      </div>
         <!-- Lightbox (hidden by default) -->
  <div class="lightbox" id="lightbox">
    <img src="" alt="Enlarged Image" class="lightbox-image">
  </div>
  <div class="rat" style="margin-top: 5%;">
    <p>Rating:</p>
    <div class="star-rating" id="star-rating10">
      <!-- Star icons will be added here using JavaScript -->
    </div>
  </div>
      <p class="card-time">
          <span class="fas fa-clock"></span>15-30 mins
      </p>
      <button class="cbtn">Order</button>
      <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
</div>
  </div>
<div class="dashboard-card">
<img class="card-image" src="images/bs.jpg" alt="" />
<div class="card-detail">
<h4>Beef Salpicao (Tray)</h4>
<div class="gallery">
  <label>
    <img src="images/Safrtda.jpg" alt="Image 1"><br>
    <input type="radio" name="imageSelection">
    S (₱570) (10-12 pax)
  </label>
  <label>
    <img src="images/m4.jpg" alt="Image 2"><br>
    <input type="radio" name="imageSelection">
    M
  </label>
  <label>
    <img src="images/m2.jpg" alt="Image 3"><br>
    <input type="radio" name="imageSelection">
    L
  </label>
</div>
   <!-- Lightbox (hidden by default) -->
   <div class="lightbox" id="lightbox">
    <img src="" alt="Enlarged Image" class="lightbox-image">
  </div>
  <div class="rat" style="margin-top: 5%;">
    <p>Rating:</p>
    <div class="star-rating" id="star-rating11">
      <!-- Star icons will be added here using JavaScript -->
    </div>
  </div>
<p class="card-time">
    <span class="fas fa-clock"></span>15-30 mins
</p>
<button class="cbtn">Order</button>
<button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
</div>
</div>
<div class="dashboard-card">
<img class="card-image" src="images/bcc.jpg" alt="" />
<div class="card-detail">
<h4>Buttered Carrots w/ Chicharo (Tray)</h4>
<div class="gallery">
  <label>
    <img src="images/Safrtda.jpg" alt="Image 1"><br>
    <input type="radio" name="imageSelection">
    S (₱570) (10-12 pax)
  </label>
  <label>
    <img src="images/m4.jpg" alt="Image 2"><br>
    <input type="radio" name="imageSelection">
    M
  </label>
  <label>
    <img src="images/m2.jpg" alt="Image 3"><br>
    <input type="radio" name="imageSelection">
    L
  </label>
</div>
   <!-- Lightbox (hidden by default) -->
   <div class="lightbox" id="lightbox">
    <img src="" alt="Enlarged Image" class="lightbox-image">
  </div>
  <div class="rat"  style="margin-top: 5%;">
    <p>Rating:</p>
    <div class="star-rating" id="star-rating12">
      <!-- Star icons will be added here using JavaScript -->
    </div>
  </div>
<p class="card-time">
  <span class="fas fa-clock"></span>15-30 mins
</p>
<button class="cbtn">Order</button>
<button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
</div>
</div>
<div class="dashboard-card">
  <img class="card-image" src="images/bpm.jpg" alt="" />
  <div class="card-detail">
  <h4>Buttered Potato Marbles (Tray)</h4>
  <div class="gallery">
    <label>
      <img src="images/Safrtda.jpg" alt="Image 1"><br>
      <input type="radio" name="imageSelection">
      S (₱570) (10-12 pax)
    </label>
    <label>
      <img src="images/m4.jpg" alt="Image 2"><br>
      <input type="radio" name="imageSelection">
      M
    </label>
    <label>
      <img src="images/m2.jpg" alt="Image 3"><br>
      <input type="radio" name="imageSelection">
      L
    </label>
  </div>
     <!-- Lightbox (hidden by default) -->
     <div class="lightbox" id="lightbox">
      <img src="" alt="Enlarged Image" class="lightbox-image">
    </div>
    <div class="rat" style="margin-top: 5%;">
      <p>Rating:</p>
      <div class="star-rating" id="star-rating13">
        <!-- Star icons will be added here using JavaScript -->
      </div>
    </div>
  <p class="card-time">
    <span class="fas fa-clock"></span>15-30 mins
  </p>
  <button class="cbtn">Order</button>
  <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
  </div>
  </div>
<div class="dashboard-card">
  <img class="card-image" src="images/cg.jpg" alt="" />
  <div class="card-detail">
  <h4>Canton Guisado (Short Order)</h4>
  <div class="rat" style="margin-top: 43%;">
    <p>Rating:</p>
    <div class="star-rating" id="star-rating14">
      <!-- Star icons will be added here using JavaScript -->
    </div>
  </div>
  <p class="card-time">
    <span class="fas fa-clock"></span>15-30 mins
  </p>
  <button class="cbtn">Order</button>
  <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
  </div>
  </div>
<div class="dashboard-card">
<img class="card-image" src="images/pc.jpg" alt="" />
<div class="card-detail">
<h4>Caldereta (Tray)</h4>
<div class="gallery">
  <label>
    <img src="images/Safrtda.jpg" alt="Image 1"><br>
    <input type="radio" name="imageSelection">
    S (₱570) (10-12 pax)
  </label>
  <label>
    <img src="images/m4.jpg" alt="Image 2"><br>
    <input type="radio" name="imageSelection">
    M
  </label>
  <label>
    <img src="images/m2.jpg" alt="Image 3"><br>
    <input type="radio" name="imageSelection">
    L
  </label>
</div>
   <!-- Lightbox (hidden by default) -->
   <div class="lightbox" id="lightbox">
    <img src="" alt="Enlarged Image" class="lightbox-image">
  </div>
  <div class="rat" style="margin-top: 7%;">
    <p>Rating:</p>
    <div class="star-rating" id="star-rating15">
      <!-- Star icons will be added here using JavaScript -->
    </div>
  </div>
<p class="card-time">
  <span class="fas fa-clock"></span>15-30 mins
</p>
<button class="cbtn">Order</button>
<button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
</div>
</div>
<div class="dashboard-card">
  <img class="card-image" src="images/chmi.jpg" alt="" />
  <div class="card-detail">
  <h4>Chami (Short Order)</h4>
     <!-- Lightbox (hidden by default) -->
     <div class="lightbox" id="lightbox">
      <img src="" alt="Enlarged Image" class="lightbox-image">
    </div>
    <div class="rat" style="margin-top: 60%;">
      <p>Rating:</p>
      <div class="star-rating" id="star-rating16">
        <!-- Star icons will be added here using JavaScript -->
      </div>
    </div>
  <p class="card-time">
    <span class="fas fa-clock"></span>15-30 mins
  </p>
  <button class="cbtn">Order</button>
  <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>>
  </div>
  </div>
  <div class="dashboard-card">
  <img class="card-image" src="images/cak.jpg" alt="" />
  <div class="card-detail">
  <h4>Chicken Ala King (Tray)</h4>
  <div class="gallery">
    <label>
      <img src="images/Safrtda.jpg" alt="Image 1"><br>
      <input type="radio" name="imageSelection">
      S (₱570) (10-12 pax)
    </label>
    <label>
      <img src="images/m4.jpg" alt="Image 2"><br>
      <input type="radio" name="imageSelection">
      M
    </label>
    <label>
      <img src="images/m2.jpg" alt="Image 3"><br>
      <input type="radio" name="imageSelection">
      L
    </label>
  </div>
    <!-- Lightbox (hidden by default) -->
    <div class="lightbox" id="lightbox">
      <img src="" alt="Enlarged Image" class="lightbox-image">
    </div>
    <div class="rat" style="margin-top: 7%;">
      <p>Rating:</p>
      <div class="star-rating" id="star-rating17">
        <!-- Star icons will be added here using JavaScript -->
      </div>
    </div>
  <p class="card-time">
    <span class="fas fa-clock"></span>15-30 mins
  </p>
  <button class="cbtn">Order</button>
  <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
  </div>
  </div>
  <div class="dashboard-card">
  <img class="card-image" src="images/ce.jpg" alt="" />
  <div class="card-detail">
  <h4>Chicken Embotido (Tray)</h4>
  <div class="gallery">
    <label>
      <img src="images/Safrtda.jpg" alt="Image 1"><br>
      <input type="radio" name="imageSelection">
      S (₱570) (10-12 pax)
    </label>
    <label>
      <img src="images/m4.jpg" alt="Image 2"><br>
      <input type="radio" name="imageSelection">
      M
    </label>
    <label>
      <img src="images/m2.jpg" alt="Image 3"><br>
      <input type="radio" name="imageSelection">
      L
    </label>
  </div>
    <!-- Lightbox (hidden by default) -->
    <div class="lightbox" id="lightbox">
      <img src="" alt="Enlarged Image" class="lightbox-image">
    </div>
    <div class="rat" style="margin-top: 7%;">
      <p>Rating:</p>
      <div class="star-rating" id="star-rating18">
        <!-- Star icons will be added here using JavaScript -->
      </div>
    </div>
  <p class="card-time">
    <span class="fas fa-clock"></span>15-30 mins
  </p>
  <button class="cbtn">Order</button>
  <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
  </div>
  </div>
<div class="dashboard-card">
<img class="card-image" src="images/cr.jpg" alt="" />
<div class="card-detail">
<h4>Chicken Roll (Rice Meal)</h4>
<div class="rat" style="margin-top: 55%;">
  <p>Rating:</p>
  <div class="star-rating" id="star-rating19">
    <!-- Star icons will be added here using JavaScript -->
  </div>
</div>
<p class="card-time">
  <span class="fas fa-clock"></span>15-30 mins
</p>
<button class="cbtn">Order</button>
<button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
</div>
</div>
<div class="dashboard-card">
  <img class="card-image" src="images/f1.jpg" alt="" />
  <div class="card-detail">
  <h4>Chicken  Roll (Tray)</h4>
  <div class="gallery">
    <label>
      <img src="images/Safrtda.jpg" alt="Image 1"><br>
      <input type="radio" name="imageSelection">
      S (₱570) (10-12 pax)
    </label>
    <label>
      <img src="images/m4.jpg" alt="Image 2"><br>
      <input type="radio" name="imageSelection">
      M
    </label>
    <label>
      <img src="images/m2.jpg" alt="Image 3"><br>
      <input type="radio" name="imageSelection">
      L
    </label>
  </div>
     <!-- Lightbox (hidden by default) -->
     <div class="lightbox" id="lightbox">
      <img src="" alt="Enlarged Image" class="lightbox-image">
    </div>
    <div class="rat" style="margin-top: 5%;">
      <p>Rating:</p>
      <div class="star-rating" id="star-rating20">
        <!-- Star icons will be added here using JavaScript -->
      </div>
    </div>
  <p class="card-time">
    <span class="fas fa-clock"></span>15-30 mins
  </p>
  <button class="cbtn">Order</button>
  <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
  </div>
  </div>
<div class="dashboard-card">
  <img class="card-image" src="images/cbm.jpg" alt="" />
  <div class="card-detail">
  <h4>Creamy Beef w/ Mushroom (Tray)</h4>
  <div class="gallery">
    <label>
      <img src="images/Safrtda.jpg" alt="Image 1"><br>
      <input type="radio" name="imageSelection">
      S (₱570) (10-12 pax)
    </label>
    <label>
      <img src="images/m4.jpg" alt="Image 2"><br>
      <input type="radio" name="imageSelection">
      M
    </label>
    <label>
      <img src="images/m2.jpg" alt="Image 3"><br>
      <input type="radio" name="imageSelection">
      L
    </label>
  </div>
     <!-- Lightbox (hidden by default) -->
     <div class="lightbox" id="lightbox">
      <img src="" alt="Enlarged Image" class="lightbox-image">
    </div>
    <div class="rat" style="margin-top: 5%;">
      <p>Rating:</p>
      <div class="star-rating" id="star-rating21">
        <!-- Star icons will be added here using JavaScript -->
      </div>
    </div>
  <p class="card-time">
    <span class="fas fa-clock"></span>15-30 mins
  </p>
  <button class="cbtn">Order</button>
  <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
  </div>
  </div>
<div class="dashboard-card">
  <img class="card-image" src="images/emb.jpg" alt="" />
  <div class="card-detail">
  <h4>Embotido (Tray)</h4>
  <div class="gallery">
    <label>
      <img src="images/Safrtda.jpg" alt="Image 1"><br>
      <input type="radio" name="imageSelection">
      S (₱570) (10-12 pax)
    </label>
    <label>
      <img src="images/m4.jpg" alt="Image 2"><br>
      <input type="radio" name="imageSelection">
      M
    </label>
    <label>
      <img src="images/m2.jpg" alt="Image 3"><br>
      <input type="radio" name="imageSelection">
      L
    </label>
  </div>
     <!-- Lightbox (hidden by default) -->
     <div class="lightbox" id="lightbox">
      <img src="" alt="Enlarged Image" class="lightbox-image">
    </div>
    <div class="rat" style="margin-top: 5%;">
      <p>Rating:</p>
      <div class="star-rating" id="star-rating22">
        <!-- Star icons will be added here using JavaScript -->
      </div>
    </div>
  <p class="card-time">
    <span class="fas fa-clock"></span>15-30 mins
  </p>
  <button class="cbtn">Order</button>
  <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
  </div>
  </div>
  <div class="dashboard-card">
    <img class="card-image" src="images/flu.jpg" alt="" />
    <div class="card-detail">
    <h4>Fresh Lumpiang Ubod<br>(Tray)</h4>
    <div class="gallery">
      <label>
        <img src="images/Safrtda.jpg" alt="Image 1"><br>
        <input type="radio" name="imageSelection">
        S (₱570) (10-12 pax)
      </label>
      <label>
        <img src="images/m4.jpg" alt="Image 2"><br>
        <input type="radio" name="imageSelection">
        M
      </label>
      <label>
        <img src="images/m2.jpg" alt="Image 3"><br>
        <input type="radio" name="imageSelection">
        L
      </label>
    </div>
       <!-- Lightbox (hidden by default) -->
       <div class="lightbox" id="lightbox">
        <img src="" alt="Enlarged Image" class="lightbox-image">
      </div>
      <div class="rat" style="margin-top: 5%;">
        <p>Rating:</p>
        <div class="star-rating" id="star-rating23">
          <!-- Star icons will be added here using JavaScript -->
        </div>
      </div>
    <p class="card-time">
      <span class="fas fa-clock"></span>15-30 mins
    </p>
  <button class="cbtn">Order</button>
  <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
    </div>
    </div>
    <div class="dashboard-card">
      <img class="card-image" src="images/fcf.jpg" alt="" />
      <div class="card-detail">
      <h4>Fried Chicken Fingers<br>(Tray)</h4>
      <div class="gallery">
        <label>
          <img src="images/Safrtda.jpg" alt="Image 1"><br>
          <input type="radio" name="imageSelection">
          S (₱570) (10-12 pax)
        </label>
        <label>
          <img src="images/m4.jpg" alt="Image 2"><br>
          <input type="radio" name="imageSelection">
          M
        </label>
        <label>
          <img src="images/m2.jpg" alt="Image 3"><br>
          <input type="radio" name="imageSelection">
          L
        </label>
      </div>
         <!-- Lightbox (hidden by default) -->
         <div class="lightbox" id="lightbox">
          <img src="" alt="Enlarged Image" class="lightbox-image">
        </div>
        <div class="rat">
          <p>Rating:</p>
          <div class="star-rating" id="star-rating24">
            <!-- Star icons will be added here using JavaScript -->
          </div>
        </div>
      <p class="card-time">
        <span class="fas fa-clock"></span>15-30 mins
      </p>
      <button class="cbtn">Order</button>
      <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
      </div>
      </div>
<div class="dashboard-card">
<img class="card-image" src="images/f5.jpg" alt="" />
<div class="card-detail">
<h4>Fried Fish Filet (Tray)</h4>
<div class="gallery">
  <label>
    <img src="images/Safrtda.jpg" alt="Image 1"><br>
    <input type="radio" name="imageSelection">
    S (₱570) (10-12 pax)
  </label>
  <label>
    <img src="images/m4.jpg" alt="Image 2"><br>
    <input type="radio" name="imageSelection">
    M
  </label>
  <label>
    <img src="images/m2.jpg" alt="Image 3"><br>
    <input type="radio" name="imageSelection">
    L
  </label>
</div>
   <!-- Lightbox (hidden by default) -->
   <div class="lightbox" id="lightbox">
    <img src="" alt="Enlarged Image" class="lightbox-image">
  </div>
  <div class="rat">
    <p>Rating:</p>
    <div class="star-rating" id="star-rating25">
      <!-- Star icons will be added here using JavaScript -->
    </div>
  </div>
<p class="card-time">
  <span class="fas fa-clock"></span>15-30 mins
</p>
<button class="cbtn">Order</button>
<button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
</div>
</div>
<div class="dashboard-card">
<img class="card-image" src="images/gc.jpg" alt="" />
<div class="card-detail">
<h4>Glazed Chicken (Tray)</h4>
<div style="margin-top: 1%;">
  <input type="radio" name="chk"> Cheesy Garlic Parmesan<br>
  <input type="radio" name="chk"> Honey Garlic<br>
  <input type="radio" name="chk"> Hot Buffalo<br>
  <input type="radio" name="chk"> Sweet Chili<br>
  <input type="radio" name="chk"> Sweet Soy
</div>
<div class="rat" style="margin-top: 17%;">
  <p>Rating:</p>
  <div class="star-rating" id="star-rating26">
    <!-- Star icons will be added here using JavaScript -->
  </div>
</div>
<p class="card-time">
  <span class="fas fa-clock"></span>15-30 mins
</p>
<button class="cbtn">Order</button>
<button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
</div>
</div>
<div class="dashboard-card">
  <img class="card-image" src="images/gff.jpg" alt="" />
  <div class="card-detail">
  <h4>Glazed Fish Fillet (Tray)</h4>
  <div>
    <input type="radio" name="gff"> Cheesy Garlic Parmesan<br>
    <input type="radio" name="gff"> Honey Garlic<br>
    <input type="radio" name="gff"> Hot Buffalo<br>
    <input type="radio" name="gff"> Sweet Chili<br>
    <input type="radio" name="gff"> Sweet Soy
  </div>
  <div class="rat" style="margin-top: 17%;">
    <p>Rating:</p>
    <div class="star-rating" id="star-rating27">
      <!-- Star icons will be added here using JavaScript -->
    </div>
  </div>
  <p class="card-time">
    <span class="fas fa-clock"></span>15-30 mins
  </p>
  <button class="cbtn">Order</button>
  <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
  </div>
  </div>
  <div class="dashboard-card">
    <img class="card-image" src="images/hmdo.jpg" alt="" />
    <div class="card-detail">
    <h4>Hamonado (Tray)</h4>
    <div class="gallery">
      <label>
        <img src="images/Safrtda.jpg" alt="Image 1"><br>
        <input type="radio" name="imageSelection">
        S (₱570) (10-12 pax)
      </label>
      <label>
        <img src="images/m4.jpg" alt="Image 2"><br>
        <input type="radio" name="imageSelection">
        M
      </label>
      <label>
        <img src="images/m2.jpg" alt="Image 3"><br>
        <input type="radio" name="imageSelection">
        L
      </label>
    </div>
       <!-- Lightbox (hidden by default) -->
       <div class="lightbox" id="lightbox">
        <img src="" alt="Enlarged Image" class="lightbox-image">
      </div>
      <div class="rat">
        <p>Rating:</p>
        <div class="star-rating" id="star-rating28">
          <!-- Star icons will be added here using JavaScript -->
        </div>
      </div>
    <p class="card-time">
      <span class="fas fa-clock"></span>15-30 mins
    </p>
  <button class="cbtn">Order</button>
  <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>   
</div>
    </div>
  <div class="dashboard-card">
    <img class="card-image" src="images/hs.jpg" alt="" />
    <div class="card-detail">
    <h4>Hungarian Sausage (Rice Meal)</h4>
    <div class="rat" style="margin-top: 53%;">
      <p>Rating:</p>
      <div class="star-rating" id="star-rating29">
        <!-- Star icons will be added here using JavaScript -->
      </div>
    </div>
    <p class="card-time">
      <span class="fas fa-clock"></span>15-30 mins
    </p>
    <button class="cbtn">Order</button>
    <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
    </div>
    </div>
    <div class="dashboard-card">
      <img class="card-image" src="images/kk.jpg" alt="" />
      <div class="card-detail">
      <h4>Kare-Kare (Tray)</h4>
      <div class="gallery">
        <label>
          <img src="images/Safrtda.jpg" alt="Image 1"><br>
          <input type="radio" name="imageSelection">
          S (₱570) (10-12 pax)
        </label>
        <label>
          <img src="images/m4.jpg" alt="Image 2"><br>
          <input type="radio" name="imageSelection">
          M
        </label>
        <label>
          <img src="images/m2.jpg" alt="Image 3"><br>
          <input type="radio" name="imageSelection">
          L
        </label>
      </div>
         <!-- Lightbox (hidden by default) -->
         <div class="lightbox" id="lightbox">
          <img src="" alt="Enlarged Image" class="lightbox-image">
        </div>
        <div class="rat" style="margin-top:4%;">
          <p>Rating:</p>
          <div class="star-rating" id="star-rating30">
            <!-- Star icons will be added here using JavaScript -->
          </div>
        </div>
      <p class="card-time">
        <span class="fas fa-clock"></span>15-30 mins
      </p>
      <button class="cbtn">Order</button>
      <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
      </div>
      </div>
      <div class="dashboard-card">
        <img class="card-image" src="images/kbs.jpg" alt="" />
        <div class="card-detail">
        <h4>Korean Beef Stew (Tray)</h4>
        <div class="gallery">
          <label>
            <img src="images/Safrtda.jpg" alt="Image 1"><br>
            <input type="radio" name="imageSelection">
            S (₱570) (10-12 pax)
          </label>
          <label>
            <img src="images/m4.jpg" alt="Image 2"><br>
            <input type="radio" name="imageSelection">
            M
          </label>
          <label>
            <img src="images/m2.jpg" alt="Image 3"><br>
            <input type="radio" name="imageSelection">
            L
          </label>
        </div>
           <!-- Lightbox (hidden by default) -->
           <div class="lightbox" id="lightbox">
            <img src="" alt="Enlarged Image" class="lightbox-image">
          </div>
          <div class="rat" style="margin-top:4%;">
            <p>Rating:</p>
            <div class="star-rating" id="star-rating31">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
        <p class="card-time">
          <span class="fas fa-clock"></span>15-30 mins
        </p>
        <button class="cbtn">Order</button>
        <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>      
      </div>
        </div>
        <div class="dashboard-card">
          <img class="card-image" src="images/ls.jpg" alt="" />
          <div class="card-detail">
          <h4>Lumpiang Shanghai (Rice Meal)</h4>
          <div class="rat" style="margin-top:46%;">
            <p>Rating:</p>
            <div class="star-rating" id="star-rating32">
              <!-- Star icons will be added here using JavaScript -->
            </div>
          </div>
          <p class="card-time">
            <span class="fas fa-clock"></span>15-30 mins
          </p>
          <button class="cbtn">Order</button>
          <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
          </div>
          </div>
          <div class="dashboard-card">
            <img class="card-image" src="images/mn.jpg" alt="" />
            <div class="card-detail">
            <h4>Menudo (Tray)</h4>
            <div class="gallery">
              <label>
                <img src="images/Safrtda.jpg" alt="Image 1"><br>
                <input type="radio" name="imageSelection">
                S (₱570) (10-12 pax)
              </label>
              <label>
                <img src="images/m4.jpg" alt="Image 2"><br>
                <input type="radio" name="imageSelection">
                M
              </label>
              <label>
                <img src="images/m2.jpg" alt="Image 3"><br>
                <input type="radio" name="imageSelection">
                L
              </label>
            </div>
               <!-- Lightbox (hidden by default) -->
               <div class="lightbox" id="lightbox">
                <img src="" alt="Enlarged Image" class="lightbox-image">
              </div>
              <div class="rat" style="margin-top:4%;">
                <p>Rating:</p>
                <div class="star-rating" id="star-rating33">
                  <!-- Star icons will be added here using JavaScript -->
                </div>
              </div>
            <p class="card-time">
              <span class="fas fa-clock"></span>15-30 mins
            </p>
            <button class="cbtn">Order</button>
            <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
           </div>
            </div>
            <div class="dashboard-card">
              <img class="card-image" src="images/cream.jpeg" alt="" />
              <div class="card-detail">
              <h4>Mixed Vegies in Cream (Tray)</h4>
              <div class="gallery">
                <label>
                  <img src="images/Safrtda.jpg" alt="Image 1"><br>
                  <input type="radio" name="imageSelection">
                  S (₱570) (10-12 pax)
                </label>
                <label>
                  <img src="images/m4.jpg" alt="Image 2"><br>
                  <input type="radio" name="imageSelection">
                  M
                </label>
                <label>
                  <img src="images/m2.jpg" alt="Image 3"><br>
                  <input type="radio" name="imageSelection">
                  L
                </label>
              </div>
                 <!-- Lightbox (hidden by default) -->
                 <div class="lightbox" id="lightbox">
                  <img src="" alt="Enlarged Image" class="lightbox-image">
                </div>
                <div class="rat" style="margin-top:2%;">
                  <p>Rating:</p>
                  <div class="star-rating" id="star-rating34">
                    <!-- Star icons will be added here using JavaScript -->
                  </div>
                </div>
              <p class="card-time">
                <span class="fas fa-clock"></span>15-30 mins
              </p>
              <button class="cbtn">Order</button>
              <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
             </div>
              </div>
              <div class="dashboard-card">
                <img class="card-image" src="images/mong.jpg" alt="" />
                <div class="card-detail">
                <h4>Mongolian Beef (Tray)</h4>
                <div class="gallery">
                  <label>
                    <img src="images/Safrtda.jpg" alt="Image 1"><br>
                    <input type="radio" name="imageSelection">
                    S (₱570) (10-12 pax)
                  </label>
                  <label>
                    <img src="images/m4.jpg" alt="Image 2"><br>
                    <input type="radio" name="imageSelection">
                    M
                  </label>
                  <label>
                    <img src="images/m2.jpg" alt="Image 3"><br>
                    <input type="radio" name="imageSelection">
                    L
                  </label>
                </div>
                   <!-- Lightbox (hidden by default) -->
                   <div class="lightbox" id="lightbox">
                    <img src="" alt="Enlarged Image" class="lightbox-image">
                  </div>
                  <div class="rat" style="margin-top:2%;">
                    <p>Rating:</p>
                    <div class="star-rating" id="star-rating35">
                      <!-- Star icons will be added here using JavaScript -->
                    </div>
                  </div>
                <p class="card-time">
                  <span class="fas fa-clock"></span>15-30 mins
                </p>
                <button class="cbtn">Order</button>
                <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>               
                </div>
                </div>
                <div class="dashboard-card">
                  <img class="card-image" src="images/pastel.jpg" alt="" />
                  <div class="card-detail">
                  <h4>Pork Pastel (Tray)</h4>
                  <div class="gallery">
                    <label>
                      <img src="images/Safrtda.jpg" alt="Image 1"><br>
                      <input type="radio" name="imageSelection">
                      S (₱570) (10-12 pax)
                    </label>
                    <label>
                      <img src="images/m4.jpg" alt="Image 2"><br>
                      <input type="radio" name="imageSelection">
                      M
                    </label>
                    <label>
                      <img src="images/m2.jpg" alt="Image 3"><br>
                      <input type="radio" name="imageSelection">
                      L
                    </label>
                  </div>
                     <!-- Lightbox (hidden by default) -->
                     <div class="lightbox" id="lightbox">
                      <img src="" alt="Enlarged Image" class="lightbox-image">
                    </div>
                    <div class="rat" style="margin-top:2%;">
                      <p>Rating:</p>
                      <div class="star-rating" id="star-rating36">
                        <!-- Star icons will be added here using JavaScript -->
                      </div>
                    </div>
                  <p class="card-time">
                    <span class="fas fa-clock"></span>15-30 mins
                  </p>
                  <button class="cbtn">Order</button>
                  <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>                 
                  </div>
                  </div>
                  <div class="dashboard-card">
                    <img class="card-image" src="images/fishveg.jpg" alt="" />
                    <div class="card-detail">
                    <h4>Sauted Fish and Veggies in Chili Garlic Sauce (Tray)</h4>
                    <div class="gallery">
                      <label>
                        <img src="images/Safrtda.jpg" alt="Image 1"><br>
                        <input type="radio" name="imageSelection">
                        S (₱570) (10-12 pax)
                      </label>
                      <label>
                        <img src="images/m4.jpg" alt="Image 2"><br>
                        <input type="radio" name="imageSelection">
                        M
                      </label>
                      <label>
                        <img src="images/m2.jpg" alt="Image 3"><br>
                        <input type="radio" name="imageSelection">
                        L
                      </label>
                    </div>
                       <!-- Lightbox (hidden by default) -->
                       <div class="lightbox" id="lightbox">
                        <img src="" alt="Enlarged Image" class="lightbox-image">
                      </div>
                      <div class="rat">
                        <p>Rating:</p>
                        <div class="star-rating" id="star-rating37">
                          <!-- Star icons will be added here using JavaScript -->
                        </div>
                      </div>
                    <p class="card-time">
                      <span class="fas fa-clock"></span>15-30 mins
                    </p>
                    <button class="cbtn">Order</button>
                    <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>                    
                    </div>
                    </div>
                    <div class="dashboard-card">
                      <img class="card-image" src="images/saute.jpg" alt="" />
                      <div class="card-detail">
                      <h4>Sauteed Veggies in Oyster Sauce (Tray)</h4>
                      <div class="gallery">
                        <label>
                          <img src="images/Safrtda.jpg" alt="Image 1"><br>
                          <input type="radio" name="imageSelection">
                          S (₱570) (10-12 pax)
                        </label>
                        <label>
                          <img src="images/m4.jpg" alt="Image 2"><br>
                          <input type="radio" name="imageSelection">
                          M
                        </label>
                        <label>
                          <img src="images/m2.jpg" alt="Image 3"><br>
                          <input type="radio" name="imageSelection">
                          L
                        </label>
                      </div>
                         <!-- Lightbox (hidden by default) -->
                         <div class="lightbox" id="lightbox">
                          <img src="" alt="Enlarged Image" class="lightbox-image">
                        </div>
                        <div class="rat">
                          <p>Rating:</p>
                          <div class="star-rating" id="star-rating38">
                            <!-- Star icons will be added here using JavaScript -->
                          </div>
                        </div>
                      <p class="card-time">
                        <span class="fas fa-clock"></span>15-30 mins
                      </p>
                      <button class="cbtn">Order</button>
                      <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
                      </div>
                      </div>
                      <div class="dashboard-card">
                        <img class="card-image" src="images/sisig.jpg" alt="" />
                        <div class="card-detail">
                        <h4>Sisig (Tray)</h4>
                        <div class="gallery">
                          <label>
                            <img src="images/Safrtda.jpg" alt="Image 1"><br>
                            <input type="radio" name="imageSelection">
                            S (₱570) (10-12 pax)
                          </label>
                          <label>
                            <img src="images/m4.jpg" alt="Image 2"><br>
                            <input type="radio" name="imageSelection">
                            M
                          </label>
                          <label>
                            <img src="images/m2.jpg" alt="Image 3"><br>
                            <input type="radio" name="imageSelection">
                            L
                          </label>
                        </div>
                           <!-- Lightbox (hidden by default) -->
                           <div class="lightbox" id="lightbox">
                            <img src="" alt="Enlarged Image" class="lightbox-image">
                          </div>
                          <div class="rat" style="margin-top:2%;">
                            <p>Rating:</p>
                            <div class="star-rating" id="star-rating39">
                              <!-- Star icons will be added here using JavaScript -->
                            </div>
                          </div>
                        <p class="card-time">
                          <span class="fas fa-clock"></span>15-30 mins
                        </p>
                        <button class="cbtn">Order</button>
                        <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
                      </div>
                      </div>
                      <div class="dashboard-card">
                        <img class="card-image" src="images/ssf.jpg" alt="" />
                        <div class="card-detail">
                        <h4>Sweet and Sour Fish Fillet (Tray)</h4>
                        <div class="gallery">
                          <label>
                            <img src="images/Safrtda.jpg" alt="Image 1"><br>
                            <input type="radio" name="imageSelection">
                            S (₱570) (10-12 pax)
                          </label>
                          <label>
                            <img src="images/m4.jpg" alt="Image 2"><br>
                            <input type="radio" name="imageSelection">
                            M
                          </label>
                          <label>
                            <img src="images/m2.jpg" alt="Image 3"><br>
                            <input type="radio" name="imageSelection">
                            L
                          </label>
                        </div>
                           <!-- Lightbox (hidden by default) -->
                           <div class="lightbox" id="lightbox">
                            <img src="" alt="Enlarged Image" class="lightbox-image">
                          </div>
                          <div class="rat" style="margin-top:1%;">
                            <p>Rating:</p>
                            <div class="star-rating" id="star-rating40">
                              <!-- Star icons will be added here using JavaScript -->
                            </div>
                          </div>
                        <p class="card-time">
                          <span class="fas fa-clock"></span>15-30 mins
                        </p>
                        <button class="cbtn">Order</button>
                        <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>
                        </div>
                        </div>
                        <div class="dashboard-card">
                          <img class="card-image" src="images/ssp.jpg" alt="" />
                          <div class="card-detail">
                          <h4>Sweet and Sour Pork (Tray)</h4>
                          <div class="gallery">
                            <label>
                              <img src="images/Safrtda.jpg" alt="Image 1"><br>
                              <input type="radio" name="imageSelection">
                              S (₱570) (10-12 pax)
                            </label>
                            <label>
                              <img src="images/m4.jpg" alt="Image 2"><br>
                              <input type="radio" name="imageSelection">
                              M
                            </label>
                            <label>
                              <img src="images/m2.jpg" alt="Image 3"><br>
                              <input type="radio" name="imageSelection">
                              L
                            </label>
                          </div>
                             <!-- Lightbox (hidden by default) -->
                             <div class="lightbox" id="lightbox">
                              <img src="" alt="Enlarged Image" class="lightbox-image">
                            </div>
                            <div class="rat" style="margin-top:2%;">
                              <p>Rating:</p>
                              <div class="star-rating" id="star-rating41">
                                <!-- Star icons will be added here using JavaScript -->
                              </div>
                            </div>
                          <p class="card-time">
                            <span class="fas fa-clock"></span>15-30 mins
                          </p>
                          <button class="cbtn">Order</button>
                          <button onclick="addToCart('Amazing Pizza', 30)" class="cbtn" onclick="Login()"><i class="fas fa-shopping-cart"></i></button>                     
                          </div>
                          </div>
          <div id="cart-modal" class="modal">
            <div class="modal-content">
            <span class="close" onclick="closeCartModal()">&times;</span>
            <h2>Cart</h2>
            <ul id="modal-cart-items"></ul>
            <div class="total-amount">Total: Php <span id="total-amount">0</span></div>
            <button onclick="placeOrder()">Place Order</button>
            </div>  
            </div>
</div>  
<div class="container">
  <div class="lbl" style="margin-top: 5%;">
    <label for="">Store Location</label>
   </div>
  <div class="card-map">   
      <div>
        <img style="float: left; margin-top: 2%;" src="images/mam.png" alt="">
      </div>
        <div style="float: left; margin:  0 0 0 6%;">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15472.867843019703!2d121.5175007991047!3d14.182067032989185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33bd560d1ac71ceb%3A0x708ef8288bc6c6fd!2sSan%20Isidro%2C%20Luisiana%2C%20Laguna!5e0!3m2!1sen!2sph!4v1696657468374!5m2!1sen!2sph" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
         </div>
  </div>
</div>
<script src="scripts/menu.js"></script>
</body>
<div class="cntr">

  <footer class="text-white text-center text-lg-start" style="background-color: #C69B68;">
    <!-- Grid container -->
    <div class="p-5">
    
    <!--Grid row-->
    
    <div class="row mt-4">
      <div class="col-lg-1 col-md-6 mb-4 mb-md-0"></div>
      <!--Grid column-->
      <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
      <h5 class="text-uppercase mb-4">About company</h5>
  
      <label>
        Thank you for choosing Maya&Me Services for your food ordering needs. We're here to satisfy your cravings, one delicious meal at a time. Enjoy your meal and have a wonderful day!
      </label>
  
      <div class="mt-4">
        <!-- Facebook -->
        <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-facebook-f"></i></a>
        <!-- Dribbble -->
        <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-dribbble"></i></a>
        <!-- Twitter -->
        <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-twitter"></i></a>
        <!-- Google + -->
        <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-google-plus-g"></i></a>
        <!-- Linkedin -->
      </div>
      </div>
      <!--Grid column-->
  <div class="col-lg-1 col-md-6 mb-4 mb-md-0"></div>
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
      <h5 class="text-uppercase mb-4 pb-1">Contact Us</h5>
  
      <ul class="fa-ul" style="margin-left: 1.65em;">
        <li class="mb-3">
        <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Brgy San Isidro Luisiana,Laguna</span>
        </li>
        <li class="mb-3">
        <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">mayaandme74@gmail.com</span>
        </li>
        <li class="mb-3">
        <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">09186506362</span>
        </li>
     
      </ul>
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
      <h5 class="text-uppercase mb-4">Opening hours</h5>
  
      <table class="table text-center text-white">
        <tbody class="font-weight-normal">
        <tr>
          <td>Mon - Thu:</td>
          <td>8am - 9pm</td>
        </tr>
        <tr>
          <td>Fri - Sat:</td>
          <td>8am - 1am</td>
        </tr>
        <tr>
          <td>Sunday:</td>
          <td>9am - 10pm</td>
        </tr>
        </tbody>
      </table>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="font-weight: bold; background-color: #ffefe4; color: #C69B68;">
    © 2023 Copyright:
    <label >Maya&Me Services</label>
    </div>
    <!-- Copyright -->
  </footer>
  </div>
</html>