.topnav {
  overflow: hidden; 
  background-color: rgb(239, 232, 202);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}
.topnav a {
  float: left;
  color:#976b35;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
  position: relative; /* Add this line */
}

    .topnav .nav::before {
      content: "";
      position: absolute;
      width: 0;
      height: 3px;
      bottom: 0;
      left: 0;
      background-color: #000000;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
    }
    
    .topnav a:hover::before {
      width: 100%;
      visibility: visible;
    }
    .nav{
    margin-right: 50px;
    margin-top: 15px;
    font-weight: bold;
    }
    .navc{
      color: #C69B68;
  
    }
    .topnav {
    color: white;
    }
    .menu-toggle {
        display: none; /* Hide on larger screens */
        cursor: pointer;
        }
        .bar {
        width: 30px;
        height: 3px;
        background-color:#C69B68;
        margin: 5px 0;
        }
        /* Show on smaller screens */
        @media (max-width: 768px) {
        .menu {
        display: none;
        flex-direction: column;
        background-color: #858585;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        z-index: 1;
        }
        .topnav.sticky {
          position: fixed;
          top: 0;
          width: 100%;
          z-index: 1000;
        }
        .menu.show {
        display: flex;
        background-color: rgba(53, 46, 46, 0.204);
        margin-top: 29px;
        }
        .menu-toggle {
        display: block;
        max-width: 100%;
        float: right;
        margin: 25px 15px 0 0;
        }
        }
        /* Profile Modal (Centered in the viewport) */
        .pmod {
          margin: auto;
          display: none; 
          position: fixed; 
          z-index: 10000; 
          left: 0;
          top: 0;
          width: 100%; 
          height: 100%; 
          overflow: auto; 
          background-color: rgba(0,0,0,0.4);
        }
        
        .modal-contents {
          background-color: #fefefe;
          margin: 4.5% auto;
          padding: 10px;
          border: 1px solid #888;
          width: 10%;
          height:220px;
          border-radius: 5px;
          float: right;
        }
        .modal-contents a.prof {
          text-decoration: none;
          color:#C69B68; /* Set the default text color */
          position: relative;
          font-weight: bold;
          font-size: 20px;
          margin-top: 5px;
        }
        
        .modal-contents a.prof::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px; /* Adjust the thickness of the underline */
          bottom: 0;
          left: 0;
          background-color: transparent; /* Set the initial color of the underline */
          transform: scaleX(0); /* Start with no width */
          transform-origin: bottom left;
          transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
        }
        
        .modal-contents a.prof:hover::before {
          transform: scaleX(1); /* Expand the underline to full width on hover */
          background-color: black; /* Change the color of the underline on hover */
        }
        
        
        .close {
          margin:auto;
          color: #aaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }
  .logo{
    height: 325px;;
    width: 325px;
  }
  @media (max-width: 900px) {
    .logo {
      height: 200px; 
      width: 500px; 
      margin-left: 0px;
  
    }
  }
  .menu-toggle {
    display: none; /* Hide on larger screens */
    cursor: pointer;
    float: left;
    }
    .bar {
    width: 30px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 5px 0;
    }
    /* Show menu on smaller screens */
    @media (max-width: 768px) {
    .menu {
      display: none;
      flex-direction: column;
      background-color: #333;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      z-index: 1;
    }
    .side-menu a {
      display: block;
      padding: 15px;
      color: rgb(0, 0, 0);
      margin-right: 50px;
      margin-top: 15px;
      font-weight: bold;
    }
    .menu-toggle {
      display: block;
      max-width: 100%;
      float: left;
      margin: 25px 0 0 15px;
    }
  }
  
  .side-menu {
    display: none; /* Hide the side menu by default */
    position: fixed;
    top: 88px;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: rgba(239, 232, 202, 0.663);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 5000; /* Ensure it's below the menu toggle */
  }
  /* Underline animation */
  .side-menu a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: rgb(0, 0, 0);
    transition: width 0.3s ease-in-out;
  }
  
  .side-menu a:hover {
    color: #000000;
  }
  
  .side-menu a:hover::before {
    width: 100%;
  }
  /* Show the side menu when the .show class is added */
  .side-menu.show {
    display: block;
  }
  #cart-counter {
    color: #000000;
    padding: 4px 8px;
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
  }
 
  .dashboard-banner {
    width: 100%;
    height: 400px;
    position: relative;
    border-radius: 30px;
    cursor: pointer;
    }
    .imgs{
        height: 40px;
        width: 60px;
        border-radius: 5px;
        margin:6px 5px 0 0;

    }
    .dashboard-banner > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    }
    .banner-promo {
    position: absolute;
    color: #C69B68;
    top:8.5%;
    left: 5%;
    font-weight: 900;
    }
    .card{
        margin: auto;
        margin-top: 150px;
        max-width: 1350px;
        width: 100%;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 1rem;
        border: transparent;
        margin-bottom: 100px;
    }
    .inc{
        font-size: 16px;
        font-weight: bold;
        color:rgb(0, 0, 0);
        background-color:none;
        width: 20px;
        height: 20px;
        float: right;
        padding: 0px 19px 20px 10px;
        margin-left: 10px;
        cursor: pointer;
    }

    .cart{
        background-color: #fff;
        padding: 4vh 5vh;
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;
    }

    .summary{
        background-color: #ddd;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding: 4vh;
        color: rgb(65, 65, 65);
    }
    @media(max-width:767px){
        .summary{
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem;
        }
        .cart{
            padding: 4vh;
            border-bottom-left-radius: unset;
            border-top-right-radius: 1rem;
        }
        .card{
            margin-top:60px;
        }
    }
    .summary .col-2{
        padding: 0;
    }
    .summary .col-10
    {
        padding: 0;
    }.row{
        margin: 0;
    }
    .title b{
        font-size: 1.5rem;
    }
    .main{
        margin: 0;
        padding: 2vh 0;
        width: 100%;
    }
    .col-2, .col{
        padding: 0 1vh;
    }
    a{
        padding: 0 1vh;
    }
 
    .back-to-shop{
        margin-top: 3.5rem;
        font-weight: bold;
        color: #000;
    }
    h5{
        margin-top: 4vh;
    }
    hr{
        margin-top: 1.25rem;
    }
    form{
        padding: 2vh 0;
    }
    
    .inpts{
        border: 1px solid rgba(0, 0, 0, 0.137);
        padding: 1vh;
        margin-bottom: 4vh;
        outline: none;
        width: 100%;
        background-color: rgb(247, 247, 247);
    }
    .inpts:focus::-webkit-input-placeholder
    {
          color:transparent;
    }
    .btn{
        background-color: #000;
        border-color: #000;
        color: white;
        width: 100%;
        font-size: 0.7rem;
        margin-top: 4vh;
        padding: 1vh;
        border-radius: 0;
    }
    .btn:focus{
        box-shadow: none;
        outline: none;
        box-shadow: none;
        color: white;
        -webkit-box-shadow: none;
        transition: none; 
    }
    .btn:hover{
        color: white;
    }
    a{
        color: black; 
    }
    a:hover{
        color: black;
        text-decoration: none;
    }
     #code{
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253) , rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: center;
    }
    .inpts{
        box-shadow: inset 0 5px 5px rgba(165, 162, 162, 0.5);
        border-radius: 5px;
      }
    

      .mod-content {
        background-color: #fefefe;
        margin: 6% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 35%;
        height: auto;
        border-radius:5px;
      }
.fbtn{
  margin: 0 10px 0 10px;
background-color:#C69B68;
border: none;
border-radius: 5px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 20px;
font-weight: bold;
color: white;
transition: all 0.3s ease; 
position: relative;
text-decoration: none;
text-align: center;
    }
    .log {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1186px; /* Adjust the max-width as needed */
        width: 100%;
      }

    @media (max-width: 600px) {
      .log {
        flex-direction: row;
        justify-content: center;
      }
      .logo {
        height: 200px; 
        width: 200px; 
        margin-left: 85px;
        margin-top:70px ;
      }
      .fbtn {
        padding: 10px 10px 10px 10px;
        margin-bottom: 90px;
        width: 100px;
        font-size: 11px;
        font-weight: bold;
        height: 35px;
        text-align: center;
      }
    }
    .fbtn:hover{
    background-color:rgb(243, 185, 113);
    color: rgb(0, 0, 0);
    text-decoration: none;
    }   
    .fbtn {
      padding: 10px 20px;
      text-decoration: none;
      color: white;
      background-color:#C69B68;
      border-radius: 5px;
    }
    .cont {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        }


  