body{
      background-color: #FFF3EB;
}

.jumbotron {
    width: 100%;
    margin: auto;
    height: 875px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    z-index: 0;
  }
  
  .slideshow-container {
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  /* Show menu on smaller screens */
@media (max-width: 768px) {
  .menu {
  display: none;
  flex-direction: column;
  background-color: #333;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: 1;
  }
  .bar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    }
  .menu.show {
  display: flex;
  background-color:rgb(245, 234, 220);
  margin-top: 28px;
  }
  .menu-toggle {
  display: block;
  max-width: 100%;
  float: right;
  margin: 25px 15px 0 0;
  }
  }
 
  .food-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .card {
    width: calc(33.33% - 20px);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color:rgba(255, 255, 255, 0.497);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .card-map{
    width: calc(100%);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.639);
    background-color: white;
    height: 450px;
  }
  .card img {
    width: 100%;
    border-radius: 5px;
  }
  .card h3 {
    padding: 10px;
    margin: 10px 0;
  }
  .card p {
    padding: 10px;

  }
  .topnav {
    overflow: hidden; 
    background-color: rgb(239, 232, 202);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
  }
    
  .topnav a {
    float: left;
    color:#976b35;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 23px;
    position: relative; /* Add this line */
  }
    .nav:hover{
      color: #000000;
    }
    .topnav .nav::before {
      content: "";
      position: absolute;
      width: 0;
      height: 3px;
      bottom: 0;
      left: 0;
      background-color: #000000;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
    }
    
    .topnav a:hover::before {
      width: 100%;
      visibility: visible;
    }
    .nav{
    margin-right: 50px;
    margin-top: 18px;
    font-weight: bold;
    }
    .topnav {
    color: white;
    }
    .banner-promo {
      position: absolute;
      color: #C69B68;
      top:8.5%;
      left: 5%;
      font-weight: 900;
    }
    .dashboard-banner {
      width: 100%;
      height: 400px;
      position: relative;
      padding: 1rem;
      border-radius: 30px;
      cursor: pointer;
    }
    .dashboard-banner > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 30px;
    }
.lbl{
    font-family: Caveat, open-sans; 
    font-size: 85px;
    font-weight: bold;
    color: #C69B68;
    margin-top:50px;
    position: relative;
    z-index: 1;
}
    .ftr{
      font-size: 1vw;
      color: #FFF3EB;
      font-weight: bold;
    }

  
.log{
padding: 0 0 0 20%;
}
@media (max-width: 50%) {
  .log {
    max-width: 50%; /* Adjust the logo size for smaller screens */
  }
}
@media (max-width: 768px) {
  .logo {
    max-width: 50%; /* Adjust the logo size for smaller screens */
  }
}
.fbtn{
  background-color:#C69B68;
  border: none;
  border-radius: 5px;
  width:12%;
  margin-left:50px;
  padding: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  transition: all 0.3s ease; 
  position: relative;
}
.fbtn:hover{
  background-color:rgb(243, 185, 113);
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(5,1fr); 
  gap:none;
}

/* Individual image styles */
.gallery img {
  max-width: 85%;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s;
  align-items: center;
  margin: auto;
  width: 950px;
}

/* Hover effect on images */
.gallery img:hover {
  transform: scale(1.1); /* Zoom effect on hover */
}

/* Lightbox styles (hidden by default) */
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;

}
.card-time {
  color: var(--darkGray);
  font-size: 0.8rem;
}
/* Lightbox image styles */
.lightbox img {
  display: block;
  max-width: 30%;
  max-height: 90%;
  margin: auto;
  margin-top: 2%;
}
.fbtn:active,
.fbtn:focus {
  border: none;  /* This removes the border when clicked or focused */
}
.mySlides {
  display:none;

}

.bar {
  display: flex;
  align-items: center;
}
.bar p {
  margin: 0;
}
.star-rating {
  display: inline-block;
}

.star {
  color: #f8d72f;
  font-size: 24px; 

}

.star.empty {
  color: #ccc; 
}
.order-button {
  position: relative; 
  z-index: 2; 
  display: block;
  width: 40%;
  background-color: #C69B68;
  color: #fff;
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  float: right;
  margin: 0 15px 15px 0;
}
.fp{
  position: relative; 
  z-index: 2; 
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
.flm {
  position: absolute;
  margin-top: 506px;
  z-index: 1; 
}
.plc{
  margin: auto;
  max-width:66%;
}
.total-amount {
  margin-top: 15px;
  font-weight: bold;
  text-align: end;
}
#mod-cart-items {
  list-style-type: none;
  padding: 0;
  text-decoration: underline;
  text-align: left;
}
.order-button:hover {
  background-color: rgb(243, 185, 113);
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.cbtn{
  padding: 9px;
  width: 23%;
  background-color: #C69B68;
  color: white;
  margin: 0 3% 5% 0;
  border: none;
  border-radius: 5px;
  float: right;
  font-weight: bold;
  position: relative; 
  z-index: 2;
}
.cbtn:hover{
  background-color: rgb(243, 185, 113);
  color: black;
  margin: 0 3% 5% 0;
  border: none;
  border-radius: 5px;
}
#mySlideshow {
  width: 500px; /* Set your desired width */
  height: 200px; /* Set your desired height */
 /* Establishes a positioning context for child elements */
}
