body{
    background-color: #FFF3EB;
  }
  .topnav {
    overflow: hidden;
    background-color: rgba(53, 46, 46, 0.117);
    }
    
    .topnav a {
      float: left;
      color: #C69B68;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 20px;
      position: relative; /* Add this line */
    }
    .nav:hover{
      color: #000000;
    }
    .topnav .nav::before {
      content: "";
      position: absolute;
      width: 0;
      height: 3px;
      bottom: 0;
      left: 0;
      background-color: #000000;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
    }
    
    .topnav a:hover::before {
      width: 100%;
      visibility: visible;
    }
    .nav{
    margin-right: 50px;
    margin-top: 18px;
    font-weight: bold;
    }
    .topnav {
    color: white;
    }
    .menu-toggle {
        display: none; /* Hide on larger screens */
        cursor: pointer;
        
        }
        .bar {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 5px 0;
        }
        /* Show menu on smaller screens */
        @media (max-width: 768px) {
        .menu {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        z-index: 1;
        }
        
        .menu.show {
        display: flex;
        background-color: rgba(53, 46, 46, 0.204);
        margin-top: 29px;
        }
        .menu-toggle {
        display: block;
        max-width: 100%;
        float: right;
        margin: 25px 15px 0 0;
        }
        }
        
        .rounded-t-5 {
          border-top-left-radius: 0.5rem;
          border-top-right-radius: 0.5rem;
        }
        
        @media (min-width: 992px) {
          .rounded-tr-lg-0 {
            border-top-right-radius: 0;
          }
        
          .rounded-bl-lg-5 {
            border-bottom-left-radius: 0.5rem;
          }
        }
        .dashboard {
          height: 100%;
          width: 100%;
        }
        
        .dashboard-banner {
          width: 100%;
          height: 400px;
          position: relative;
          padding: 1rem;
          border-radius: 30px;
          cursor: pointer;
        }
        
        .dashboard-banner > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 30px;
        }
        .banner-promo {
          position: absolute;
          color: #C69B68;
          top:8.5%;
          left: 5%;
          font-weight: 900;
          
        }
        
        .dashboard-menu {
          display: flex;
          gap: 10px;
          padding: 0.3rem 1rem;
          overflow-x: auto;
          color: #C69B68;
          font-weight: bold;
        }
        
        .dashboard-menu a {
          text-decoration: none;
          text-align: center;
          border-radius: 20px;
          min-width: 120px;
          padding: 0.5rem 0;
          font-size: 1rem;
          color: var(--darkBlack);
          background-color: var(--ligthGrey);
        }
        .dashboard-menu a {
          text-decoration: none; /* Remove default underline */
          position: relative; /* Create a positioning context for the pseudo-element */
        }
        .dashboard-menu a:hover{
          color: #000000;
        }
        .dashboard-menu a::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 2.5px; /* Height of the underline */
          background-color: #000000; /* Color of the underline */
          transition: width 0.3s ease-in-out; /* Animation transition properties */
        }
        
        .dashboard-menu a:hover::after {
          width: 100%; /* Expand the underline on hover */
        }
        .log{
          margin: auto;
          margin-top: 4%;
          max-width: 35%;
          }
          .fbtn{
            background-color:#C69B68;
            border: none;
            border-radius: 5px;
            width:12%;
            margin-left:50px;
            padding: 20px;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 20px;
            font-weight: bold;
            color: white;
            transition: all 0.3s ease; 
            position: relative;
            text-decoration: none;

          }
          .fbtn:hover{
            background-color:rgb(243, 185, 113);
            color: rgb(0, 0, 0);
            text-decoration: none;
          }
          .fbtn.active{
            background-color:rgb(243, 185, 113);
            color: rgb(0, 0, 0);
            text-decoration: none;
          }
          .dashboard-content {
            display: grid;
            margin-top: 8%;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            gap: 20px;
            padding: 0.5rem 1rem 1rem 1rem;
          }
          .dashboard-card {
            background-color: var(--mainColor);
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            border-radius: 15px;
            position: relative;
            max-width:500px;
            cursor: pointer;
            max-height: 800px; /* Set the desired height for the search result container */
            overflow-y: auto; /* Enable vertical scrolling if the content exceeds the container height */
          }
          
          .card-image {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 15px;
          }
          
          .card-detail {
            padding: 10px;
          }
          
          .card-time {
            color: var(--darkGray);
            font-size: 0.8rem;
          }
          
          .dashboard-order {
            width: 340px;
            min-height: 100%;
            position: fixed;
            top: 0;
            right: 0;
            padding: 0.5rem 1.5rem;
            background-color: var(--mainColor);
            z-index: 3;
          }
          
          .dashboard-order > h3 {
            padding: 10px 0;
          }
          .cbtn{
            padding: 9px;
            width: 23%;
            background-color: #C69B68;
            color: white;
            margin: 0 3% 5% 0;
            border: none;
            border-radius: 5px;
            float: right;
            font-weight: bold;
          }
          .cbtn:hover{
            background-color: rgb(243, 185, 113);
            color: black;
            margin: 0 3% 5% 0;
            border: none;
            border-radius: 5px;
          }
          .gallery {
            display: grid;
            grid-template-columns: repeat(3,1fr); 
            gap:10px;
          }
          
          /* Individual image styles */
          .gallery img {
            max-width: 75%;
            height: auto;
            cursor: pointer;
            transition: transform 0.2s;
            align-items: center;
            margin: auto;
            width: 950px;
          }
          
          /* Hover effect on images */
          .gallery img:hover {
            transform: scale(1.1); /* Zoom effect on hover */
          }
          
          /* Lightbox styles (hidden by default) */
          .lightbox {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 999;
          
          }
          
          /* Lightbox image styles */
          .lightbox img {
            display: block;
            max-width: 90%;
            max-height: 90%;
            margin: auto;
            margin-top: 2%;
          }
          .rat {
            display: flex;
            align-items: center;
          }
          .rat p {
            margin: 0;
          }
          .star-rating {
            display: inline-block;
          }
          
          .star {
            color: #f8d72f; /* Color of filled stars */
            font-size: 24px; /* Adjust the size as needed */
          
          }
          
          .star.empty {
            color: #ccc; /* Color of empty stars */
          }
          
          
         