.topnav {
  overflow: hidden; 
  background-color: rgb(239, 232, 202);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}
  
.topnav a {
  float: left;
  color:#976b35;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
  position: relative; /* Add this line */
}

  .topnav .nav::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  .topnav a:hover::before {
    width: 100%;
    visibility: visible;
  }
  .nav{
  margin-right: 50px;
  margin-top: 15px;
  font-weight: bold;
  }
  .navc{
    color: #C69B68;

  }
  .topnav {
  color: white;
  }

/* Style the table */
.view {
  background-color: antiquewhite;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 20px;
  padding-bottom: 10px;
}
table {
  border-collapse: collapse;
  width: 50%;
}
th,
td {
  text-align: center;
  padding: 8px;
}
.action-th {
  text-align: center;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
/* Style the action buttons */
.view-btn {
  background-color: #007bff;
  color: white;
  margin-right: 8px;
}
.update-btn {
  background-color: #ffc107;
  color: white;
  margin-right: 8px;
}
.delete-btn {
  background-color: #dc3545;
  color: white;
  margin-right: 8px;
}
.btn-group {
  float: center;
}
/* dashboard */
.dashboard {
  height: 100%;
  width: 100%;
}

.dashboard-banner {
  width: 100%;
  height: 400px;
  position: relative;
  padding: 1rem;
  border-radius: 30px;
  cursor: pointer;
}

.dashboard-banner > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.cont {
  display: flex;
  justify-content: center;
 
  }

@media (max-width: 900px) {
.logo {
width: 27%;
}
}
.banner-promo {
  position: absolute;
  color: #C69B68;
  top:8.5%;
  left: 5%;
  font-weight: 900;
}
.banner-promo {
  position: absolute;
  color: #C69B68;
  top:8.5%;
  left: 5%;
  font-weight: 900;
  
}

.dashboard-menu {
  display: flex;
  gap: 10px;
  padding: 0.3rem 1rem;
  overflow-x: auto;
  color: #C69B68;
  font-weight: bold;
}

.dashboard-menu a {
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
  min-width: 120px;
  padding: 0.5rem 0;
  font-size: 1rem;
  color: var(--darkBlack);
  background-color: var(--ligthGrey);
}
.dashboard-menu a {
  text-decoration: none; /* Remove default underline */
  position: relative; /* Create a positioning context for the pseudo-element */
}
.dashboard-menu a:hover{
  color: #000000;
}
.dashboard-menu a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2.5px; /* Height of the underline */
  background-color: #000000; /* Color of the underline */
  transition: width 0.3s ease-in-out; /* Animation transition properties */
}

.dashboard-menu a:hover::after {
  width: 100%; /* Expand the underline on hover */
}

.dashboard-content {
  display: grid;
  margin-top: 3%;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  padding: 0.5rem 1rem 1rem 1rem;
}
.dashboard-card {
  background-color:rgba(255, 255, 255, 0.497);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 15px;
  position: relative;
  max-width:500px;
  cursor: pointer;
  max-height:  800px; /* Set the desired height for the search result container */
  overflow-y: auto; /* Enable vertical scrolling if the content exceeds the container height */
}
.card-detail {
  padding: 10px;
  }
  .cards:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
.card-maps{
  width: calc(100%);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 25px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.639);
  background-color: white;
  height: 450px;
}
@media(max-width:999px){
  .card-maps{
    height: 180px;
  }
}
  .fbtns:active,
.fbtns:focus {
  border: none;  /* This removes the border when clicked or focused */
}
.fbtns{
  margin: 0 10px 0 10px;
  background-color:#C69B68;
  border: none;
  border-radius: 5px;
  padding:15px;
  margin-left: 50px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  transition: all 0.3s ease; 
  position: relative;
  text-decoration: none;
  text-align: center;
}
@media (max-width: 900px) {
  
  .log {
    flex-direction: row;
    justify-content: left;
    margin-left: 3%;
  }

  .fbtns {
    margin-left: 5px;
    padding: 10px 10px 10px 10px;
    font-size: 9px;
    width: 100px;
    text-align: center;
  }
}
.fbtns:hover{
  background-color:rgb(243, 185, 113);
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.ban{
  width: 100%;
  height: 150px;
}
@media(max-width:500px){
  .ban{
    max-width: 100%;
    max-height: 60px;
  }
}
/* Styles for the modal container with id "cart-modal" */
#cart-mod {
  display: none; /* Hide the modal by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  align-items: center;
  justify-content: center;
}

/* Styles for the modal content */
.mod-cont {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  max-width: 500px;
  margin: auto;
  margin-top: 100px;
  z-index: 999;
}

.clse {
  margin: -25px -10px 0 0;
  float: right;
  cursor: pointer;
  position: relative;
  font-size: 30px;
  color: #000; /* Set the color to your preference */
}
/* Styles for the heading within the modal */
h2 {
  color: #333;
}

/* Styles for the unordered list with id "modal-cart-items" */
#mod-cart-items {
  list-style-type: none;
  padding: 0;
  text-decoration: underline;
}

/* Styles for the total amount section */
.total-amount {
  margin-top: 15px;
  font-weight: bold;
}

/* Styles for the button with onclick event "placeOrder()" */
button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  width: 300px;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
}
.lbls{
  font-family: Caveat, open-sans; 
  font-size: 85px;
  font-weight: bold;
  margin-top:50px;
  position: relative;
  z-index: 1;
}
@media(max-width:900px){
.lbls{
  font-size: 50px;
}
}
.cards {
  background-color:rgba(255, 255, 255, 0.497);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 15px;
  position: relative;
  max-width:500px;
  cursor: pointer;
  max-height: 800px; /* Set the desired height for the search result container */
  overflow-y: auto; /* Enable vertical scrolling if the content exceeds the container height */
  }
  .card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    }
    .dashboard-content {
      display: grid;
      margin-top: 3%;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
      padding: 0.5rem 1rem 1rem 1rem;
      }
.food-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 }
.gallerys,.gallry {
  display: grid;
  grid-template-columns: repeat(3,1fr); 
  gap:10px;
  margin-left:15px;
  }
  .map-img{
    float: left; 
    margin-top: 2%;
  }
  @media(max-width:500px){
    .map-img{
      height: 120px;
    }
  }
  .gmap{
   
    width: 650px;
    height:400px
  }
  @media(max-width:900px){
    .gmap{
      width:169px;
      max-height: 125px;
    }
  }
  .gallerys img, .gllry img {
    max-width: 75%;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
    align-items: center;
    margin: auto;
    width: 950px;
    }
    /* Hover effect on images */
    .gallery img:hover, .gllry img:hover {
    transform: scale(1.1); /* Zoom effect on hover */
    }
  
.fpu{
  color: #C69B68;
  position: relative; 
  z-index: 2; 
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
.rat {
  display: flex;
  align-items: center;
}
.rat p {
  margin: 0;
}
.star-rating {
  display: inline-block;
}

.star {
  color: #f8d72f; /* Color of filled stars */
  font-size: 24px; /* Adjust the size as needed */

}

.star.empty {
  color: #ccc; /* Color of empty stars */
}
.dashboard-card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
}

.card-detail {
  padding: 10px;
}

.card-detail > h4 > span {
  float: right;
}

.card-time {
  color: var(--darkGray);
  font-size: 0.8rem;
  padding-top: 10px;
}

.dashboard-order {
  width: 340px;
  min-height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.5rem 1.5rem;
  background-color: var(--mainColor);
  z-index: 3;
}

.dashboard-order > h3 {
  padding: 10px 0;
}

#cart-counter {
  color: #000000;
  padding: 4px 8px;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
}
.mod-content {
  background-color: #fefefe;
  margin:0.8% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  height: auto;
  border-radius:5px;
}


/* Modal Base */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black with opacity */
  display: none; /* This will make the modal hidden by default */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close-button {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.menu-toggle {
display: none; /* Hide on larger screens */
cursor: pointer;

}
.bars {
width: 30px;
height: 3px;
background-color: rgb(0, 0, 0);
margin: 5px 0;
}
/* Show menu on smaller screens */
@media (max-width: 768px) {
.menu {
display: none;
flex-direction: column;
background-color: #333;
position: absolute;
top: 60px;
left: 0;
width: 100%;
z-index: 1;
}
.side-menu a {
  display: block;
  padding: 15px;
  color: rgb(0, 0, 0);
  margin-right: 50px;
  margin-top: 15px;
  font-weight: bold;
}
.menu.show {
display: flex;
background-color: rgba(53, 46, 46, 0.204);
margin-top: 29px;
}
.menu-toggle {
  display: block;
  max-width: 100%;
  float: left;
  margin: 25px 0 0 15px;
}
}

.rounded-t-5 {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

@media (min-width: 992px) {
  .rounded-tr-lg-0 {
    border-top-right-radius: 0;
  }

  .rounded-bl-lg-5 {
    border-bottom-left-radius: 0.5rem;
  }
}

/* styles.css */
@keyframes slideFadeIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.welcome-message {
  animation: slideFadeIn 2s ease-out;
  float: left;
  margin-right: 20px;
  /* Add more styling as needed */
}
.dashboard-order > h3 {
  padding: 10px 0;
}
.cbtn{
  padding: 9px;
  width: 23%;
  background-color: #C69B68;
  color: white;
  margin: 0 3% 5% 0;
  border: none;
  border-radius: 5px;
  float: right;
  font-weight: bold;
}
.cbtn:hover{
  background-color: rgb(243, 185, 113);
  color: black;
  margin: 0 3% 5% 0;
  border: none;
  border-radius: 5px;
}
/* Profile Modal (Centered in the viewport) */
.pmod {
  margin: auto;
  display: none; 
  position: fixed; 
  z-index: 10000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4);
}

.modal-contents {
  background-color: #fefefe;
  margin: 4.5% auto;
  padding: 10px;
  border: 1px solid #888;
  width: 10%;
  height:220px;
  border-radius: 5px;
  float: right;
}
.modal-contents a.prof {
  text-decoration: none;
  color:#C69B68; /* Set the default text color */
  position: relative;
  font-weight: bold;
  font-size: 20px;
  margin-top: 5px;
}

.modal-contents a.prof::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px; /* Adjust the thickness of the underline */
  bottom: 0;
  left: 0;
  background-color: transparent; /* Set the initial color of the underline */
  transform: scaleX(0); /* Start with no width */
  transform-origin: bottom left;
  transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

.modal-contents a.prof:hover::before {
  transform: scaleX(1); /* Expand the underline to full width on hover */
  background-color: black; /* Change the color of the underline on hover */
}


.close {
  margin:auto;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.side-menu {
  display: none; /* Hide the side menu by default */
  position: fixed;
  top: 88px;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: rgba(239, 232, 202, 0.663);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 998; /* Ensure it's below the menu toggle */
}
/* Underline animation */
.side-menu a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: rgb(0, 0, 0);
  transition: width 0.3s ease-in-out;
}

.side-menu a:hover {
  color: #000000;
}

.side-menu a:hover::before {
  width: 100%;
}
.side-menu.show {
  display: block;
}